In [7]:
from Black_FutOpt import *
import tushare as ts

In [6]:
Black_call_value(6617, 6014.16, 0/365,(54/365), 0.033876, 0.259725)

656.52911864310499

In [13]:
ts.get_h_data('IC1712')

[Getting data:]####

Empty DataFrame
Columns: []
Index: []

In [ ]:
4e236c895237ee1b7292cf32d871a151d703faded00a36b6be658755990fb0d7

In [14]:
ts.set_token('4e236c895237ee1b7292cf32d871a151d703faded00a36b6be658755990fb0d7')

In [17]:
mt = ts.Master()
df = mt.TradeCal(exchangeCD='XSHG', beginDate='20171109', endDate='20180710', field='calendarDate,isOpen,prevTradeDate')

In [18]:
df

    calendarDate  isOpen prevTradeDate
0     2017-11-09       1    2017-11-08
1     2017-11-10       1    2017-11-09
2     2017-11-11       0    2017-11-10
3     2017-11-12       0    2017-11-10
4     2017-11-13       1    2017-11-10
5     2017-11-14       1    2017-11-13
6     2017-11-15       1    2017-11-14
7     2017-11-16       1    2017-11-15
8     2017-11-17       1    2017-11-16
9     2017-11-18       0    2017-11-17
10    2017-11-19       0    2017-11-17
11    2017-11-20       1    2017-11-17
12    2017-11-21       1    2017-11-20
13    2017-11-22       1    2017-11-21
14    2017-11-23       1    2017-11-22
15    2017-11-24       1    2017-11-23
16    2017-11-25       0    2017-11-24
17    2017-11-26       0    2017-11-24
18    2017-11-27       1    2017-11-24
19    2017-11-28       1    2017-11-27
20    2017-11-29       1    2017-11-28
21    2017-11-30       1    2017-11-29
22    2017-12-01       1    2017-11-30
23    2017-12-02       0    2017-12-01
24    2017-12-03       0    2017-12-01
25    2017-12-04       1    2017-12-01
26    2017-12-05       1    2017-12-04
27    2017-12-06       1    2017-12-05
28    2017-12-07       1    2017-12-06
29    2017-12-08       1    2017-12-07
..           ...     ...           ...
214   2018-06-11       1    2018-06-08
215   2018-06-12       1    2018-06-11
216   2018-06-13       1    2018-06-12
217   2018-06-14       1    2018-06-13
218   2018-06-15       1    2018-06-14
219   2018-06-16       0    2018-06-15
220   2018-06-17       0    2018-06-15
221   2018-06-18       0    2018-06-15
222   2018-06-19       1    2018-06-15
223   2018-06-20       1    2018-06-19
224   2018-06-21       1    2018-06-20
225   2018-06-22       1    2018-06-21
226   2018-06-23       0    2018-06-22
227   2018-06-24       0    2018-06-22
228   2018-06-25       1    2018-06-22
229   2018-06-26       1    2018-06-25
230   2018-06-27       1    2018-06-26
231   2018-06-28       1    2018-06-27
232   2018-06-29       1    2018-06-28
233   2018-06-30       0    2018-06-29
234   2018-07-01       0    2018-06-29
235   2018-07-02       1    2018-06-29
236   2018-07-03       1    2018-07-02
237   2018-07-04       1    2018-07-03
238   2018-07-05       1    2018-07-04
239   2018-07-06       1    2018-07-05
240   2018-07-07       0    2018-07-06
241   2018-07-08       0    2018-07-06
242   2018-07-09       1    2018-07-06
243   2018-07-10       1    2018-07-09

[244 rows x 3 columns]

In [19]:
df[df.isOpen == 1]

    calendarDate  isOpen prevTradeDate
0     2017-11-09       1    2017-11-08
1     2017-11-10       1    2017-11-09
4     2017-11-13       1    2017-11-10
5     2017-11-14       1    2017-11-13
6     2017-11-15       1    2017-11-14
7     2017-11-16       1    2017-11-15
8     2017-11-17       1    2017-11-16
11    2017-11-20       1    2017-11-17
12    2017-11-21       1    2017-11-20
13    2017-11-22       1    2017-11-21
14    2017-11-23       1    2017-11-22
15    2017-11-24       1    2017-11-23
18    2017-11-27       1    2017-11-24
19    2017-11-28       1    2017-11-27
20    2017-11-29       1    2017-11-28
21    2017-11-30       1    2017-11-29
22    2017-12-01       1    2017-11-30
25    2017-12-04       1    2017-12-01
26    2017-12-05       1    2017-12-04
27    2017-12-06       1    2017-12-05
28    2017-12-07       1    2017-12-06
29    2017-12-08       1    2017-12-07
32    2017-12-11       1    2017-12-08
33    2017-12-12       1    2017-12-11
34    2017-12-13       1    2017-12-12
35    2017-12-14       1    2017-12-13
36    2017-12-15       1    2017-12-14
39    2017-12-18       1    2017-12-15
40    2017-12-19       1    2017-12-18
41    2017-12-20       1    2017-12-19
..           ...     ...           ...
201   2018-05-29       1    2018-05-28
202   2018-05-30       1    2018-05-29
203   2018-05-31       1    2018-05-30
204   2018-06-01       1    2018-05-31
207   2018-06-04       1    2018-06-01
208   2018-06-05       1    2018-06-04
209   2018-06-06       1    2018-06-05
210   2018-06-07       1    2018-06-06
211   2018-06-08       1    2018-06-07
214   2018-06-11       1    2018-06-08
215   2018-06-12       1    2018-06-11
216   2018-06-13       1    2018-06-12
217   2018-06-14       1    2018-06-13
218   2018-06-15       1    2018-06-14
222   2018-06-19       1    2018-06-15
223   2018-06-20       1    2018-06-19
224   2018-06-21       1    2018-06-20
225   2018-06-22       1    2018-06-21
228   2018-06-25       1    2018-06-22
229   2018-06-26       1    2018-06-25
230   2018-06-27       1    2018-06-26
231   2018-06-28       1    2018-06-27
232   2018-06-29       1    2018-06-28
235   2018-07-02       1    2018-06-29
236   2018-07-03       1    2018-07-02
237   2018-07-04       1    2018-07-03
238   2018-07-05       1    2018-07-04
239   2018-07-06       1    2018-07-05
242   2018-07-09       1    2018-07-06
243   2018-07-10       1    2018-07-09

[162 rows x 3 columns]