In [150]:
import pandas as pd
import math
import numpy as np
df = pd.read_excel('C:\\Users\\Administrator\\Desktop\\Work\\data\\trade_account\\AccountValue.xlsx')
df

     AccountValue
0       499036.85
1       506339.59
2       487143.96
3       456292.22
4       495325.93
5       486181.56
6       475421.19
7       492813.37
8       452593.15
9       452800.86
10      470641.15
11      517468.11
12      511762.17
13      512479.03
14      511089.83
15      524375.94
16      525866.67
17      498611.07
18      507822.06
19      526303.73
20      517314.24
21      541211.39
22      530327.17
23      544696.70
24      550604.72
25      546799.23
26      560202.69
27      541141.55
28      564759.09
29      592630.87
..            ...
175     612743.83
176     611338.30
177     623788.20
178     618485.30
179     613413.87
180     600472.10
181     601199.98
182     599661.19
183     607338.74
184     616223.65
185     629471.71
186     635006.93
187     648352.98
188     640775.94
189     637640.54
190     641129.73
191     639936.69
192     640645.93
193     646065.23
194     656134.34
195     645453.77
196     650354.77
197     638944.50
198     645719.45
199     649303.23
200     645027.85
201     639400.58
202     658326.02
203     663747.19
204     665708.63

[205 rows x 1 columns]

In [151]:
df['max2here'] = df.AccountValue.expanding(min_periods=1).max()

In [152]:
df['dd2here'] = df.AccountValue / df.max2here -1

In [52]:
df

     AccountValue   max2here   dd2here
0       499036.85  499036.85  0.000000
1       506339.59  506339.59  0.000000
2       487143.96  506339.59 -0.037911
3       456292.22  506339.59 -0.098842
4       495325.93  506339.59 -0.021752
5       486181.56  506339.59 -0.039811
6       475421.19  506339.59 -0.061063
7       492813.37  506339.59 -0.026714
8       452593.15  506339.59 -0.106147
9       452800.86  506339.59 -0.105737
10      470641.15  506339.59 -0.070503
11      517468.11  517468.11  0.000000
12      511762.17  517468.11 -0.011027
13      512479.03  517468.11 -0.009641
14      511089.83  517468.11 -0.012326
15      524375.94  524375.94  0.000000
16      525866.67  525866.67  0.000000
17      498611.07  525866.67 -0.051830
18      507822.06  525866.67 -0.034314
19      526303.73  526303.73  0.000000
20      517314.24  526303.73 -0.017080
21      541211.39  541211.39  0.000000
22      530327.17  541211.39 -0.020111
23      544696.70  544696.70  0.000000
24      550604.72  550604.72  0.000000
25      546799.23  550604.72 -0.006911
26      560202.69  560202.69  0.000000
27      541141.55  560202.69 -0.034025
28      564759.09  564759.09  0.000000
29      592630.87  592630.87  0.000000
..            ...        ...       ...
175     612743.83  645329.01 -0.050494
176     611338.30  645329.01 -0.052672
177     623788.20  645329.01 -0.033380
178     618485.30  645329.01 -0.041597
179     613413.87  645329.01 -0.049456
180     600472.10  645329.01 -0.069510
181     601199.98  645329.01 -0.068382
182     599661.19  645329.01 -0.070767
183     607338.74  645329.01 -0.058870
184     616223.65  645329.01 -0.045102
185     629471.71  645329.01 -0.024572
186     635006.93  645329.01 -0.015995
187     648352.98  648352.98  0.000000
188     640775.94  648352.98 -0.011687
189     637640.54  648352.98 -0.016523
190     641129.73  648352.98 -0.011141
191     639936.69  648352.98 -0.012981
192     640645.93  648352.98 -0.011887
193     646065.23  648352.98 -0.003529
194     656134.34  656134.34  0.000000
195     645453.77  656134.34 -0.016278
196     650354.77  656134.34 -0.008809
197     638944.50  656134.34 -0.026199
198     645719.45  656134.34 -0.015873
199     649303.23  656134.34 -0.010411
200     645027.85  656134.34 -0.016927
201     639400.58  656134.34 -0.025504
202     658326.02  658326.02  0.000000
203     663747.19  663747.19  0.000000
204     665708.63  665708.63  0.000000

[205 rows x 3 columns]

In [153]:
df.dd2here.min()

-0.11521561691454019

In [154]:
df[df.dd2here == -0.11521561691454019]

     AccountValue   max2here   dd2here
160     570977.03  645329.01 -0.115216

In [155]:
df

     AccountValue   max2here   dd2here
0       499036.85  499036.85  0.000000
1       506339.59  506339.59  0.000000
2       487143.96  506339.59 -0.037911
3       456292.22  506339.59 -0.098842
4       495325.93  506339.59 -0.021752
5       486181.56  506339.59 -0.039811
6       475421.19  506339.59 -0.061063
7       492813.37  506339.59 -0.026714
8       452593.15  506339.59 -0.106147
9       452800.86  506339.59 -0.105737
10      470641.15  506339.59 -0.070503
11      517468.11  517468.11  0.000000
12      511762.17  517468.11 -0.011027
13      512479.03  517468.11 -0.009641
14      511089.83  517468.11 -0.012326
15      524375.94  524375.94  0.000000
16      525866.67  525866.67  0.000000
17      498611.07  525866.67 -0.051830
18      507822.06  525866.67 -0.034314
19      526303.73  526303.73  0.000000
20      517314.24  526303.73 -0.017080
21      541211.39  541211.39  0.000000
22      530327.17  541211.39 -0.020111
23      544696.70  544696.70  0.000000
24      550604.72  550604.72  0.000000
25      546799.23  550604.72 -0.006911
26      560202.69  560202.69  0.000000
27      541141.55  560202.69 -0.034025
28      564759.09  564759.09  0.000000
29      592630.87  592630.87  0.000000
..            ...        ...       ...
175     612743.83  645329.01 -0.050494
176     611338.30  645329.01 -0.052672
177     623788.20  645329.01 -0.033380
178     618485.30  645329.01 -0.041597
179     613413.87  645329.01 -0.049456
180     600472.10  645329.01 -0.069510
181     601199.98  645329.01 -0.068382
182     599661.19  645329.01 -0.070767
183     607338.74  645329.01 -0.058870
184     616223.65  645329.01 -0.045102
185     629471.71  645329.01 -0.024572
186     635006.93  645329.01 -0.015995
187     648352.98  648352.98  0.000000
188     640775.94  648352.98 -0.011687
189     637640.54  648352.98 -0.016523
190     641129.73  648352.98 -0.011141
191     639936.69  648352.98 -0.012981
192     640645.93  648352.98 -0.011887
193     646065.23  648352.98 -0.003529
194     656134.34  656134.34  0.000000
195     645453.77  656134.34 -0.016278
196     650354.77  656134.34 -0.008809
197     638944.50  656134.34 -0.026199
198     645719.45  656134.34 -0.015873
199     649303.23  656134.34 -0.010411
200     645027.85  656134.34 -0.016927
201     639400.58  656134.34 -0.025504
202     658326.02  658326.02  0.000000
203     663747.19  663747.19  0.000000
204     665708.63  665708.63  0.000000

[205 rows x 3 columns]

In [156]:
df.AccountValue[0:1]

0    499036.85
Name: AccountValue, dtype: float64

In [157]:
annual = pow((df.AccountValue.iloc[-1]/df.AccountValue[0]),(len(df.index)/365)) -1

In [158]:
annual

0.17568400122367067

In [159]:
return1 = df.AccountValue.iloc[-1]/df.AccountValue.iloc[0] -1
return1

0.33398691900207478

In [160]:
df1 = pd.read_excel('C:\\Users\\Administrator\\Desktop\\Work\\data\\399300.xlsx')

In [161]:
df1.columns = ['date','close_price']
df1.index = df1.date 
df1

                 date  close_price
date
2016-12-05 2016-12-05    3469.4073
2016-12-06 2016-12-06    3459.1533
2016-12-07 2016-12-07    3475.7473
2016-12-08 2016-12-08    3470.1426
2016-12-09 2016-12-09    3493.7004
2016-12-12 2016-12-12    3409.1794
2016-12-13 2016-12-13    3405.0355
2016-12-14 2016-12-14    3378.9453
2016-12-15 2016-12-15    3340.4338
2016-12-16 2016-12-16    3346.0305
2016-12-19 2016-12-19    3328.9827
2016-12-20 2016-12-20    3309.0641
2016-12-21 2016-12-21    3338.5360
2016-12-22 2016-12-22    3335.6720
2016-12-23 2016-12-23    3307.5991
2016-12-26 2016-12-26    3322.4006
2016-12-27 2016-12-27    3316.3852
2016-12-28 2016-12-28    3301.8887
2016-12-29 2016-12-29    3297.7648
2016-12-30 2016-12-30    3310.0808
2017-01-03 2017-01-03    3342.2272
2017-01-04 2017-01-04    3368.3117
2017-01-05 2017-01-05    3367.7892
2017-01-06 2017-01-06    3347.6665
2017-01-09 2017-01-09    3363.9014
2017-01-10 2017-01-10    3358.2716
2017-01-11 2017-01-11    3334.4954
2017-01-12 2017-01-12    3317.6241
2017-01-13 2017-01-13    3319.9122
2017-01-16 2017-01-16    3319.4455
...               ...          ...
2017-08-22 2017-08-22    3752.2980
2017-08-23 2017-08-23    3756.0884
2017-08-24 2017-08-24    3734.6458
2017-08-25 2017-08-25    3795.7544
2017-08-28 2017-08-28    3842.7119
2017-08-29 2017-08-29    3834.5376
2017-08-30 2017-08-30    3834.3005
2017-08-31 2017-08-31    3822.0928
2017-09-01 2017-09-01    3830.5383
2017-09-04 2017-09-04    3845.6163
2017-09-05 2017-09-05    3857.0464
2017-09-06 2017-09-06    3849.4499
2017-09-07 2017-09-07    3829.8713
2017-09-08 2017-09-08    3825.9895
2017-09-11 2017-09-11    3825.6453
2017-09-12 2017-09-12    3837.9341
2017-09-13 2017-09-13    3842.6061
2017-09-14 2017-09-14    3829.9554
2017-09-15 2017-09-15    3831.2965
2017-09-18 2017-09-18    3843.1428
2017-09-19 2017-09-19    3832.1161
2017-09-20 2017-09-20    3842.4353
2017-09-21 2017-09-21    3837.8176
2017-09-22 2017-09-22    3837.7304
2017-09-25 2017-09-25    3817.7915
2017-09-26 2017-09-26    3820.7816
2017-09-27 2017-09-27    3821.2000
2017-09-28 2017-09-28    3822.5386
2017-09-29 2017-09-29    3836.5013
2017-10-09 2017-10-09    3882.2076

[205 rows x 2 columns]

In [162]:
base_return = (df1.close_price - df1.close_price.shift(1))/df1.close_price.shift(1)

In [163]:
base_return

date
2016-12-05         NaN
2016-12-06   -0.002956
2016-12-07    0.004797
2016-12-08   -0.001613
2016-12-09    0.006789
2016-12-12   -0.024192
2016-12-13   -0.001216
2016-12-14   -0.007662
2016-12-15   -0.011397
2016-12-16    0.001675
2016-12-19   -0.005095
2016-12-20   -0.005983
2016-12-21    0.008906
2016-12-22   -0.000858
2016-12-23   -0.008416
2016-12-26    0.004475
2016-12-27   -0.001811
2016-12-28   -0.004371
2016-12-29   -0.001249
2016-12-30    0.003735
2017-01-03    0.009712
2017-01-04    0.007805
2017-01-05   -0.000155
2017-01-06   -0.005975
2017-01-09    0.004850
2017-01-10   -0.001674
2017-01-11   -0.007080
2017-01-12   -0.005060
2017-01-13    0.000690
2017-01-16   -0.000141
                ...
2017-08-22    0.003022
2017-08-23    0.001010
2017-08-24   -0.005709
2017-08-25    0.016363
2017-08-28    0.012371
2017-08-29   -0.002127
2017-08-30   -0.000062
2017-08-31   -0.003184
2017-09-01    0.002210
2017-09-04    0.003936
2017-09-05    0.002972
2017-09-06   -0.001970
2017-09-07   -0.005086
2017-09-08   -0.001014
2017-09-11   -0.000090
2017-09-12    0.003212
2017-09-13    0.001217
2017-09-14   -0.003292
2017-09-15    0.000350
2017-09-18    0.003092
2017-09-19   -0.002869
2017-09-20    0.002693
2017-09-21   -0.001202
2017-09-22   -0.000023
2017-09-25   -0.005195
2017-09-26    0.000783
2017-09-27    0.000110
2017-09-28    0.000350
2017-09-29    0.003653
2017-10-09    0.011914
Name: close_price, Length: 205, dtype: float64

In [164]:
acc_return = (df.AccountValue - df.AccountValue.shift(1))/df.AccountValue.shift(1)

In [165]:
acc_return

0           NaN
1      0.014634
2     -0.037911
3     -0.063332
4      0.085545
5     -0.018461
6     -0.022132
7      0.036583
8     -0.081613
9      0.000459
10     0.039400
11     0.099496
12    -0.011027
13     0.001401
14    -0.002711
15     0.025996
16     0.002843
17    -0.051830
18     0.018473
19     0.036394
20    -0.017080
21     0.046195
22    -0.020111
23     0.027096
24     0.010846
25    -0.006911
26     0.024513
27    -0.034025
28     0.043644
29     0.049352
         ...
175   -0.001820
176   -0.002294
177    0.020365
178   -0.008501
179   -0.008200
180   -0.021098
181    0.001212
182   -0.002560
183    0.012803
184    0.014629
185    0.021499
186    0.008793
187    0.021017
188   -0.011687
189   -0.004893
190    0.005472
191   -0.001861
192    0.001108
193    0.008459
194    0.015585
195   -0.016278
196    0.007593
197   -0.017545
198    0.010603
199    0.005550
200   -0.006585
201   -0.008724
202    0.029599
203    0.008235
204    0.002955
Name: AccountValue, Length: 205, dtype: float64

In [184]:
df2 = pd.DataFrame([base_return])

In [185]:
df2

date,2016-12-05 00:00:00,2016-12-06 00:00:00,2016-12-07 00:00:00,2016-12-08 00:00:00,2016-12-09 00:00:00,2016-12-12 00:00:00,2016-12-13 00:00:00,2016-12-14 00:00:00,2016-12-15 00:00:00,2016-12-16 00:00:00,...,2017-09-19 00:00:00,2017-09-20 00:00:00,2017-09-21 00:00:00,2017-09-22 00:00:00,2017-09-25 00:00:00,2017-09-26 00:00:00,2017-09-27 00:00:00,2017-09-28 00:00:00,2017-09-29 00:00:00,2017-10-09 00:00:00
close_price,NaN,-0.002956,0.004797,-0.001613,0.006789,-0.024192,-0.001216,-0.007662,-0.011397,0.001675,...,-0.002869,0.002693,-0.001202,-0.000023,-0.005195,0.000783,0.00011,0.00035,0.003653,0.011914

In [186]:
df2 = df2.T

In [171]:
df2['acc_return'] = pd.DataFrame([acc_return])

ValueError: Wrong number of items passed 205, placement implies 1

In [172]:
df3 = pd.DataFrame([acc_return])

In [173]:
df3= df3.T

In [174]:
df3

     AccountValue
0             NaN
1        0.014634
2       -0.037911
3       -0.063332
4        0.085545
5       -0.018461
6       -0.022132
7        0.036583
8       -0.081613
9        0.000459
10       0.039400
11       0.099496
12      -0.011027
13       0.001401
14      -0.002711
15       0.025996
16       0.002843
17      -0.051830
18       0.018473
19       0.036394
20      -0.017080
21       0.046195
22      -0.020111
23       0.027096
24       0.010846
25      -0.006911
26       0.024513
27      -0.034025
28       0.043644
29       0.049352
..            ...
175     -0.001820
176     -0.002294
177      0.020365
178     -0.008501
179     -0.008200
180     -0.021098
181      0.001212
182     -0.002560
183      0.012803
184      0.014629
185      0.021499
186      0.008793
187      0.021017
188     -0.011687
189     -0.004893
190      0.005472
191     -0.001861
192      0.001108
193      0.008459
194      0.015585
195     -0.016278
196      0.007593
197     -0.017545
198      0.010603
199      0.005550
200     -0.006585
201     -0.008724
202      0.029599
203      0.008235
204      0.002955

[205 rows x 1 columns]

In [182]:
df2 = df2.reset_index()

In [180]:
df2 = df2.T

In [189]:
df2.columns = ['base_return']

In [188]:
df3

     AccountValue
0             NaN
1        0.014634
2       -0.037911
3       -0.063332
4        0.085545
5       -0.018461
6       -0.022132
7        0.036583
8       -0.081613
9        0.000459
10       0.039400
11       0.099496
12      -0.011027
13       0.001401
14      -0.002711
15       0.025996
16       0.002843
17      -0.051830
18       0.018473
19       0.036394
20      -0.017080
21       0.046195
22      -0.020111
23       0.027096
24       0.010846
25      -0.006911
26       0.024513
27      -0.034025
28       0.043644
29       0.049352
..            ...
175     -0.001820
176     -0.002294
177      0.020365
178     -0.008501
179     -0.008200
180     -0.021098
181      0.001212
182     -0.002560
183      0.012803
184      0.014629
185      0.021499
186      0.008793
187      0.021017
188     -0.011687
189     -0.004893
190      0.005472
191     -0.001861
192      0.001108
193      0.008459
194      0.015585
195     -0.016278
196      0.007593
197     -0.017545
198      0.010603
199      0.005550
200     -0.006585
201     -0.008724
202      0.029599
203      0.008235
204      0.002955

[205 rows x 1 columns]

In [192]:
df2 = df2.reset_index()
df2

     index       date  base_return
0        0 2016-12-05          NaN
1        1 2016-12-06    -0.002956
2        2 2016-12-07     0.004797
3        3 2016-12-08    -0.001613
4        4 2016-12-09     0.006789
5        5 2016-12-12    -0.024192
6        6 2016-12-13    -0.001216
7        7 2016-12-14    -0.007662
8        8 2016-12-15    -0.011397
9        9 2016-12-16     0.001675
10      10 2016-12-19    -0.005095
11      11 2016-12-20    -0.005983
12      12 2016-12-21     0.008906
13      13 2016-12-22    -0.000858
14      14 2016-12-23    -0.008416
15      15 2016-12-26     0.004475
16      16 2016-12-27    -0.001811
17      17 2016-12-28    -0.004371
18      18 2016-12-29    -0.001249
19      19 2016-12-30     0.003735
20      20 2017-01-03     0.009712
21      21 2017-01-04     0.007805
22      22 2017-01-05    -0.000155
23      23 2017-01-06    -0.005975
24      24 2017-01-09     0.004850
25      25 2017-01-10    -0.001674
26      26 2017-01-11    -0.007080
27      27 2017-01-12    -0.005060
28      28 2017-01-13     0.000690
29      29 2017-01-16    -0.000141
..     ...        ...          ...
175    175 2017-08-22     0.003022
176    176 2017-08-23     0.001010
177    177 2017-08-24    -0.005709
178    178 2017-08-25     0.016363
179    179 2017-08-28     0.012371
180    180 2017-08-29    -0.002127
181    181 2017-08-30    -0.000062
182    182 2017-08-31    -0.003184
183    183 2017-09-01     0.002210
184    184 2017-09-04     0.003936
185    185 2017-09-05     0.002972
186    186 2017-09-06    -0.001970
187    187 2017-09-07    -0.005086
188    188 2017-09-08    -0.001014
189    189 2017-09-11    -0.000090
190    190 2017-09-12     0.003212
191    191 2017-09-13     0.001217
192    192 2017-09-14    -0.003292
193    193 2017-09-15     0.000350
194    194 2017-09-18     0.003092
195    195 2017-09-19    -0.002869
196    196 2017-09-20     0.002693
197    197 2017-09-21    -0.001202
198    198 2017-09-22    -0.000023
199    199 2017-09-25    -0.005195
200    200 2017-09-26     0.000783
201    201 2017-09-27     0.000110
202    202 2017-09-28     0.000350
203    203 2017-09-29     0.003653
204    204 2017-10-09     0.011914

[205 rows x 3 columns]

In [194]:
df2.drop('index',axis=1, inplace=True)

In [195]:
df2.drop('date',axis=1, inplace=True)

In [196]:
df2

     base_return
0            NaN
1      -0.002956
2       0.004797
3      -0.001613
4       0.006789
5      -0.024192
6      -0.001216
7      -0.007662
8      -0.011397
9       0.001675
10     -0.005095
11     -0.005983
12      0.008906
13     -0.000858
14     -0.008416
15      0.004475
16     -0.001811
17     -0.004371
18     -0.001249
19      0.003735
20      0.009712
21      0.007805
22     -0.000155
23     -0.005975
24      0.004850
25     -0.001674
26     -0.007080
27     -0.005060
28      0.000690
29     -0.000141
..           ...
175     0.003022
176     0.001010
177    -0.005709
178     0.016363
179     0.012371
180    -0.002127
181    -0.000062
182    -0.003184
183     0.002210
184     0.003936
185     0.002972
186    -0.001970
187    -0.005086
188    -0.001014
189    -0.000090
190     0.003212
191     0.001217
192    -0.003292
193     0.000350
194     0.003092
195    -0.002869
196     0.002693
197    -0.001202
198    -0.000023
199    -0.005195
200     0.000783
201     0.000110
202     0.000350
203     0.003653
204     0.011914

[205 rows x 1 columns]

In [197]:
df4 = pd.concat([df2,df3], axis=1)

In [198]:
df4

     base_return  AccountValue
0            NaN           NaN
1      -0.002956      0.014634
2       0.004797     -0.037911
3      -0.001613     -0.063332
4       0.006789      0.085545
5      -0.024192     -0.018461
6      -0.001216     -0.022132
7      -0.007662      0.036583
8      -0.011397     -0.081613
9       0.001675      0.000459
10     -0.005095      0.039400
11     -0.005983      0.099496
12      0.008906     -0.011027
13     -0.000858      0.001401
14     -0.008416     -0.002711
15      0.004475      0.025996
16     -0.001811      0.002843
17     -0.004371     -0.051830
18     -0.001249      0.018473
19      0.003735      0.036394
20      0.009712     -0.017080
21      0.007805      0.046195
22     -0.000155     -0.020111
23     -0.005975      0.027096
24      0.004850      0.010846
25     -0.001674     -0.006911
26     -0.007080      0.024513
27     -0.005060     -0.034025
28      0.000690      0.043644
29     -0.000141      0.049352
..           ...           ...
175     0.003022     -0.001820
176     0.001010     -0.002294
177    -0.005709      0.020365
178     0.016363     -0.008501
179     0.012371     -0.008200
180    -0.002127     -0.021098
181    -0.000062      0.001212
182    -0.003184     -0.002560
183     0.002210      0.012803
184     0.003936      0.014629
185     0.002972      0.021499
186    -0.001970      0.008793
187    -0.005086      0.021017
188    -0.001014     -0.011687
189    -0.000090     -0.004893
190     0.003212      0.005472
191     0.001217     -0.001861
192    -0.003292      0.001108
193     0.000350      0.008459
194     0.003092      0.015585
195    -0.002869     -0.016278
196     0.002693      0.007593
197    -0.001202     -0.017545
198    -0.000023      0.010603
199    -0.005195      0.005550
200     0.000783     -0.006585
201     0.000110     -0.008724
202     0.000350      0.029599
203     0.003653      0.008235
204     0.011914      0.002955

[205 rows x 2 columns]

In [199]:
df4['rf'] = 0.033946

In [200]:
df4

     base_return  AccountValue        rf
0            NaN           NaN  0.033946
1      -0.002956      0.014634  0.033946
2       0.004797     -0.037911  0.033946
3      -0.001613     -0.063332  0.033946
4       0.006789      0.085545  0.033946
5      -0.024192     -0.018461  0.033946
6      -0.001216     -0.022132  0.033946
7      -0.007662      0.036583  0.033946
8      -0.011397     -0.081613  0.033946
9       0.001675      0.000459  0.033946
10     -0.005095      0.039400  0.033946
11     -0.005983      0.099496  0.033946
12      0.008906     -0.011027  0.033946
13     -0.000858      0.001401  0.033946
14     -0.008416     -0.002711  0.033946
15      0.004475      0.025996  0.033946
16     -0.001811      0.002843  0.033946
17     -0.004371     -0.051830  0.033946
18     -0.001249      0.018473  0.033946
19      0.003735      0.036394  0.033946
20      0.009712     -0.017080  0.033946
21      0.007805      0.046195  0.033946
22     -0.000155     -0.020111  0.033946
23     -0.005975      0.027096  0.033946
24      0.004850      0.010846  0.033946
25     -0.001674     -0.006911  0.033946
26     -0.007080      0.024513  0.033946
27     -0.005060     -0.034025  0.033946
28      0.000690      0.043644  0.033946
29     -0.000141      0.049352  0.033946
..           ...           ...       ...
175     0.003022     -0.001820  0.033946
176     0.001010     -0.002294  0.033946
177    -0.005709      0.020365  0.033946
178     0.016363     -0.008501  0.033946
179     0.012371     -0.008200  0.033946
180    -0.002127     -0.021098  0.033946
181    -0.000062      0.001212  0.033946
182    -0.003184     -0.002560  0.033946
183     0.002210      0.012803  0.033946
184     0.003936      0.014629  0.033946
185     0.002972      0.021499  0.033946
186    -0.001970      0.008793  0.033946
187    -0.005086      0.021017  0.033946
188    -0.001014     -0.011687  0.033946
189    -0.000090     -0.004893  0.033946
190     0.003212      0.005472  0.033946
191     0.001217     -0.001861  0.033946
192    -0.003292      0.001108  0.033946
193     0.000350      0.008459  0.033946
194     0.003092      0.015585  0.033946
195    -0.002869     -0.016278  0.033946
196     0.002693      0.007593  0.033946
197    -0.001202     -0.017545  0.033946
198    -0.000023      0.010603  0.033946
199    -0.005195      0.005550  0.033946
200     0.000783     -0.006585  0.033946
201     0.000110     -0.008724  0.033946
202     0.000350      0.029599  0.033946
203     0.003653      0.008235  0.033946
204     0.011914      0.002955  0.033946

[205 rows x 3 columns]

In [204]:
df4.cov()

               base_return  AccountValue            rf
base_return   3.639859e-05 -4.773814e-06 -1.517974e-35
AccountValue -4.773814e-06  3.707381e-04  4.553923e-35
rf           -1.517974e-35  4.553923e-35  3.919126e-33

In [205]:
df4.var()

base_return     3.639859e-05
AccountValue    3.707381e-04
rf              3.919126e-33
dtype: float64

In [207]:
beta = -4.773814e-06/3.639859e-05
beta

-0.1311538166725689

In [211]:
alpha = (df4.AccountValue - (df4.rf + beta*(df4.base_return - df4.rf)))
Alpha = alpha.sum() / 205
Alpha

-0.03654753581468442