In [2]:
import pandas as pd

df = pd.read_hdf('C:\\Users\\Administrator\\Desktop\\hsi_data\\hsi_finish.h5')

In [3]:
df

,instrument,type,month,strick_price,call_put,trade_date,trade_time,price,vol,trade_type
b'trade_datetime',,,,,,,,,,
2014-01-02 09:14:00,HSI,F,1401,0,NaN,2014-01-02,09:14:00,23414.0,2,20
2014-01-02 09:14:00,HSI,F,1401,0,NaN,2014-01-02,09:14:00,23414.0,2,20
2014-01-02 09:14:00,HSI,F,1401,0,NaN,2014-01-02,09:14:00,23414.0,8,20
2014-01-02 09:14:00,HSI,F,1401,0,NaN,2014-01-02,09:14:00,23414.0,11,20
2014-01-02 09:14:00,HSI,F,1401,0,NaN,2014-01-02,09:14:00,23414.0,10,20
2014-01-02 09:14:00,HSI,F,1401,0,NaN,2014-01-02,09:14:00,23414.0,1,20
2014-01-02 09:14:00,HSI,F,1401,0,NaN,2014-01-02,09:14:00,23414.0,26,20
2014-01-02 09:14:00,HSI,F,1401,0,NaN,2014-01-02,09:14:00,23414.0,3,20
2014-01-02 09:14:00,HSI,F,1401,0,NaN,2014-01-02,09:14:00,23414.0,1,20
2014-01-02 09:14:00,HSI,F,1401,0,NaN,2014-01-02,09:14:00,23414.0,2,20
2014-01-02 09:14:00,HSI,F,1401,0,NaN,2014-01-02,09:14:00,23414.0,2,20
2014-01-02 09:14:00,HSI,F,1401,0,NaN,2014-01-02,09:14:00,23414.0,1,20
2014-01-02 09:14:00,HSI,F,1401,0,NaN,2014-01-02,09:14:00,23414.0,1,20
2014-01-02 09:14:00,HSI,F,1401,0,NaN,2014-01-02,09:14:00,23414.0,1,20
2014-01-02 09:14:00,HSI,F,1401,0,NaN,2014-01-02,09:14:00,23414.0,3,20
2014-01-02 09:14:00,HSI,F,1401,0,NaN,2014-01-02,09:14:00,23414.0,4,20
2014-01-02 09:14:00,HSI,F,1401,0,NaN,2014-01-02,09:14:00,23414.0,13,20
2014-01-02 09:14:00,HSI,F,1401,0,NaN,2014-01-02,09:14:00,23414.0,1,20
2014-01-02 09:14:00,HSI,F,1401,0,NaN,2014-01-02,09:14:00,23414.0,2,20
2014-01-02 09:14:00,HSI,F,1401,0,NaN,2014-01-02,09:14:00,23414.0,3,20
2014-01-02 09:14:00,HSI,F,1401,0,NaN,2014-01-02,09:14:00,23414.0,1,20
2014-01-02 09:14:00,HSI,F,1401,0,NaN,2014-01-02,09:14:00,23414.0,2,20
2014-01-02 09:14:00,HSI,F,1401,0,NaN,2014-01-02,09:14:00,23414.0,3,20
2014-01-02 09:14:00,HSI,F,1401,0,NaN,2014-01-02,09:14:00,23414.0,2,20
2014-01-02 09:14:00,HSI,F,1401,0,NaN,2014-01-02,09:14:00,23414.0,1,20
2014-01-02 09:14:00,HSI,F,1401,0,NaN,2014-01-02,09:14:00,23414.0,2,20
2014-01-02 09:14:00,HSI,F,1401,0,NaN,2014-01-02,09:14:00,23414.0,1,20
2014-01-02 09:14:00,HSI,F,1401,0,NaN,2014-01-02,09:14:00,23414.0,3,20
2014-01-02 09:14:00,HSI,F,1401,0,NaN,2014-01-02,09:14:00,23414.0,2,20
2014-01-02 09:14:00,HSI,F,1401,0,NaN,2014-01-02,09:14:00,23414.0,1,20
...,...,...,...,...,...,...,...,...,...,...
2015-11-30 16:14:55,HSI,F,1512,0,NaN,2015-11-30,16:14:55,21910.0,1,1
2015-11-30 16:14:56,HSI,F,1512,0,NaN,2015-11-30,16:14:56,21909.0,1,1
2015-11-30 16:14:56,HSI,F,1512,0,NaN,2015-11-30,16:14:56,21912.0,1,1
2015-11-30 16:14:56,HSI,F,1512,0,NaN,2015-11-30,16:14:56,21915.0,1,1
2015-11-30 16:14:56,HSI,F,1512,0,NaN,2015-11-30,16:14:56,21915.0,1,1
2015-11-30 16:14:56,HSI,F,1512,0,NaN,2015-11-30,16:14:56,21915.0,1,1
2015-11-30 16:14:56,HSI,F,1512,0,NaN,2015-11-30,16:14:56,21911.0,1,1
2015-11-30 16:14:56,HSI,F,1512,0,NaN,2015-11-30,16:14:56,21909.0,1,1
2015-11-30 16:14:56,HSI,F,1512,0,NaN,2015-11-30,16:14:56,21909.0,1,1
2015-11-30 16:14:56,HSI,F,1512,0,NaN,2015-11-30,16:14:56,21908.0,1,1
2015-11-30 16:14:56,HSI,F,1512,0,NaN,2015-11-30,16:14:56,21907.0,1,1
2015-11-30 16:14:56,HSI,F,1512,0,NaN,2015-11-30,16:14:56,21907.0,1,1
2015-11-30 16:14:56,HSI,F,1512,0,NaN,2015-11-30,16:14:56,21907.0,1,1
2015-11-30 16:14:56,HSI,F,1512,0,NaN,2015-11-30,16:14:56,21907.0,1,1
2015-11-30 16:14:57,HSI,F,1512,0,NaN,2015-11-30,16:14:57,21908.0,1,1
2015-11-30 16:14:57,HSI,F,1512,0,NaN,2015-11-30,16:14:57,21908.0,1,1
2015-11-30 16:14:57,HSI,F,1512,0,NaN,2015-11-30,16:14:57,21914.0,1,1
2015-11-30 16:14:57,HSI,F,1512,0,NaN,2015-11-30,16:14:57,21915.0,1,1
2015-11-30 16:14:58,HSI,F,1512,0,NaN,2015-11-30,16:14:58,21908.0,1,1
2015-11-30 16:14:58,HSI,F,1512,0,NaN,2015-11-30,16:14:58,21907.0,3,1
2015-11-30 16:14:58,HSI,F,1512,0,NaN,2015-11-30,16:14:58,21907.0,2,1
2015-11-30 16:14:58,HSI,F,1512,0,NaN,2015-11-30,16:14:58,21907.0,2,1
2015-11-30 16:14:58,HSI,F,1512,0,NaN,2015-11-30,16:14:58,21907.0,1,1
2015-11-30 16:14:58,HSI,F,1512,0,NaN,2015-11-30,16:14:58,21907.0,4,1
2015-11-30 16:14:58,HSI,F,1512,0,NaN,2015-11-30,16:14:58,21915.0,2,1
2015-11-30 16:14:58,HSI,F,1512,0,NaN,2015-11-30,16:14:58,21909.0,2,1
2015-11-30 16:14:58,HSI,F,1512,0,NaN,2015-11-30,16:14:58,21909.0,1,1
2015-11-30 16:14:59,HSI,F,1512,0,NaN,2015-11-30,16:14:59,21909.0,1,1
2015-11-30 16:14:59,HSI,F,1512,0,NaN,2015-11-30,16:14:59,21909.0,1,1
2015-11-30 16:14:59,HSI,O,1512,21000,P,2015-11-30,16:14:59,251.0,1,1

In [4]:
df = df[df.type == 'F']

In [5]:
df

,instrument,type,month,strick_price,call_put,trade_date,trade_time,price,vol,trade_type
b'trade_datetime',,,,,,,,,,
2014-01-02 09:14:00,HSI,F,1401,0,NaN,2014-01-02,09:14:00,23414.0,2,20
2014-01-02 09:14:00,HSI,F,1401,0,NaN,2014-01-02,09:14:00,23414.0,2,20
2014-01-02 09:14:00,HSI,F,1401,0,NaN,2014-01-02,09:14:00,23414.0,8,20
2014-01-02 09:14:00,HSI,F,1401,0,NaN,2014-01-02,09:14:00,23414.0,11,20
2014-01-02 09:14:00,HSI,F,1401,0,NaN,2014-01-02,09:14:00,23414.0,10,20
2014-01-02 09:14:00,HSI,F,1401,0,NaN,2014-01-02,09:14:00,23414.0,1,20
2014-01-02 09:14:00,HSI,F,1401,0,NaN,2014-01-02,09:14:00,23414.0,26,20
2014-01-02 09:14:00,HSI,F,1401,0,NaN,2014-01-02,09:14:00,23414.0,3,20
2014-01-02 09:14:00,HSI,F,1401,0,NaN,2014-01-02,09:14:00,23414.0,1,20
2014-01-02 09:14:00,HSI,F,1401,0,NaN,2014-01-02,09:14:00,23414.0,2,20
2014-01-02 09:14:00,HSI,F,1401,0,NaN,2014-01-02,09:14:00,23414.0,2,20
2014-01-02 09:14:00,HSI,F,1401,0,NaN,2014-01-02,09:14:00,23414.0,1,20
2014-01-02 09:14:00,HSI,F,1401,0,NaN,2014-01-02,09:14:00,23414.0,1,20
2014-01-02 09:14:00,HSI,F,1401,0,NaN,2014-01-02,09:14:00,23414.0,1,20
2014-01-02 09:14:00,HSI,F,1401,0,NaN,2014-01-02,09:14:00,23414.0,3,20
2014-01-02 09:14:00,HSI,F,1401,0,NaN,2014-01-02,09:14:00,23414.0,4,20
2014-01-02 09:14:00,HSI,F,1401,0,NaN,2014-01-02,09:14:00,23414.0,13,20
2014-01-02 09:14:00,HSI,F,1401,0,NaN,2014-01-02,09:14:00,23414.0,1,20
2014-01-02 09:14:00,HSI,F,1401,0,NaN,2014-01-02,09:14:00,23414.0,2,20
2014-01-02 09:14:00,HSI,F,1401,0,NaN,2014-01-02,09:14:00,23414.0,3,20
2014-01-02 09:14:00,HSI,F,1401,0,NaN,2014-01-02,09:14:00,23414.0,1,20
2014-01-02 09:14:00,HSI,F,1401,0,NaN,2014-01-02,09:14:00,23414.0,2,20
2014-01-02 09:14:00,HSI,F,1401,0,NaN,2014-01-02,09:14:00,23414.0,3,20
2014-01-02 09:14:00,HSI,F,1401,0,NaN,2014-01-02,09:14:00,23414.0,2,20
2014-01-02 09:14:00,HSI,F,1401,0,NaN,2014-01-02,09:14:00,23414.0,1,20
2014-01-02 09:14:00,HSI,F,1401,0,NaN,2014-01-02,09:14:00,23414.0,2,20
2014-01-02 09:14:00,HSI,F,1401,0,NaN,2014-01-02,09:14:00,23414.0,1,20
2014-01-02 09:14:00,HSI,F,1401,0,NaN,2014-01-02,09:14:00,23414.0,3,20
2014-01-02 09:14:00,HSI,F,1401,0,NaN,2014-01-02,09:14:00,23414.0,2,20
2014-01-02 09:14:00,HSI,F,1401,0,NaN,2014-01-02,09:14:00,23414.0,1,20
...,...,...,...,...,...,...,...,...,...,...
2015-11-30 16:14:55,HSI,F,1512,0,NaN,2015-11-30,16:14:55,21915.0,1,1
2015-11-30 16:14:55,HSI,F,1512,0,NaN,2015-11-30,16:14:55,21910.0,1,1
2015-11-30 16:14:56,HSI,F,1512,0,NaN,2015-11-30,16:14:56,21909.0,1,1
2015-11-30 16:14:56,HSI,F,1512,0,NaN,2015-11-30,16:14:56,21912.0,1,1
2015-11-30 16:14:56,HSI,F,1512,0,NaN,2015-11-30,16:14:56,21915.0,1,1
2015-11-30 16:14:56,HSI,F,1512,0,NaN,2015-11-30,16:14:56,21915.0,1,1
2015-11-30 16:14:56,HSI,F,1512,0,NaN,2015-11-30,16:14:56,21915.0,1,1
2015-11-30 16:14:56,HSI,F,1512,0,NaN,2015-11-30,16:14:56,21911.0,1,1
2015-11-30 16:14:56,HSI,F,1512,0,NaN,2015-11-30,16:14:56,21909.0,1,1
2015-11-30 16:14:56,HSI,F,1512,0,NaN,2015-11-30,16:14:56,21909.0,1,1
2015-11-30 16:14:56,HSI,F,1512,0,NaN,2015-11-30,16:14:56,21908.0,1,1
2015-11-30 16:14:56,HSI,F,1512,0,NaN,2015-11-30,16:14:56,21907.0,1,1
2015-11-30 16:14:56,HSI,F,1512,0,NaN,2015-11-30,16:14:56,21907.0,1,1
2015-11-30 16:14:56,HSI,F,1512,0,NaN,2015-11-30,16:14:56,21907.0,1,1
2015-11-30 16:14:56,HSI,F,1512,0,NaN,2015-11-30,16:14:56,21907.0,1,1
2015-11-30 16:14:57,HSI,F,1512,0,NaN,2015-11-30,16:14:57,21908.0,1,1
2015-11-30 16:14:57,HSI,F,1512,0,NaN,2015-11-30,16:14:57,21908.0,1,1
2015-11-30 16:14:57,HSI,F,1512,0,NaN,2015-11-30,16:14:57,21914.0,1,1
2015-11-30 16:14:57,HSI,F,1512,0,NaN,2015-11-30,16:14:57,21915.0,1,1
2015-11-30 16:14:58,HSI,F,1512,0,NaN,2015-11-30,16:14:58,21908.0,1,1
2015-11-30 16:14:58,HSI,F,1512,0,NaN,2015-11-30,16:14:58,21907.0,3,1
2015-11-30 16:14:58,HSI,F,1512,0,NaN,2015-11-30,16:14:58,21907.0,2,1
2015-11-30 16:14:58,HSI,F,1512,0,NaN,2015-11-30,16:14:58,21907.0,2,1
2015-11-30 16:14:58,HSI,F,1512,0,NaN,2015-11-30,16:14:58,21907.0,1,1
2015-11-30 16:14:58,HSI,F,1512,0,NaN,2015-11-30,16:14:58,21907.0,4,1
2015-11-30 16:14:58,HSI,F,1512,0,NaN,2015-11-30,16:14:58,21915.0,2,1
2015-11-30 16:14:58,HSI,F,1512,0,NaN,2015-11-30,16:14:58,21909.0,2,1
2015-11-30 16:14:58,HSI,F,1512,0,NaN,2015-11-30,16:14:58,21909.0,1,1
2015-11-30 16:14:59,HSI,F,1512,0,NaN,2015-11-30,16:14:59,21909.0,1,1
2015-11-30 16:14:59,HSI,F,1512,0,NaN,2015-11-30,16:14:59,21909.0,1,1

In [6]:
df.drop('strick_price', axis=1, inplace=True)

D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [7]:
df

,instrument,type,month,call_put,trade_date,trade_time,price,vol,trade_type
b'trade_datetime',,,,,,,,,
2014-01-02 09:14:00,HSI,F,1401,NaN,2014-01-02,09:14:00,23414.0,2,20
2014-01-02 09:14:00,HSI,F,1401,NaN,2014-01-02,09:14:00,23414.0,2,20
2014-01-02 09:14:00,HSI,F,1401,NaN,2014-01-02,09:14:00,23414.0,8,20
2014-01-02 09:14:00,HSI,F,1401,NaN,2014-01-02,09:14:00,23414.0,11,20
2014-01-02 09:14:00,HSI,F,1401,NaN,2014-01-02,09:14:00,23414.0,10,20
2014-01-02 09:14:00,HSI,F,1401,NaN,2014-01-02,09:14:00,23414.0,1,20
2014-01-02 09:14:00,HSI,F,1401,NaN,2014-01-02,09:14:00,23414.0,26,20
2014-01-02 09:14:00,HSI,F,1401,NaN,2014-01-02,09:14:00,23414.0,3,20
2014-01-02 09:14:00,HSI,F,1401,NaN,2014-01-02,09:14:00,23414.0,1,20
2014-01-02 09:14:00,HSI,F,1401,NaN,2014-01-02,09:14:00,23414.0,2,20
2014-01-02 09:14:00,HSI,F,1401,NaN,2014-01-02,09:14:00,23414.0,2,20
2014-01-02 09:14:00,HSI,F,1401,NaN,2014-01-02,09:14:00,23414.0,1,20
2014-01-02 09:14:00,HSI,F,1401,NaN,2014-01-02,09:14:00,23414.0,1,20
2014-01-02 09:14:00,HSI,F,1401,NaN,2014-01-02,09:14:00,23414.0,1,20
2014-01-02 09:14:00,HSI,F,1401,NaN,2014-01-02,09:14:00,23414.0,3,20
2014-01-02 09:14:00,HSI,F,1401,NaN,2014-01-02,09:14:00,23414.0,4,20
2014-01-02 09:14:00,HSI,F,1401,NaN,2014-01-02,09:14:00,23414.0,13,20
2014-01-02 09:14:00,HSI,F,1401,NaN,2014-01-02,09:14:00,23414.0,1,20
2014-01-02 09:14:00,HSI,F,1401,NaN,2014-01-02,09:14:00,23414.0,2,20
2014-01-02 09:14:00,HSI,F,1401,NaN,2014-01-02,09:14:00,23414.0,3,20
2014-01-02 09:14:00,HSI,F,1401,NaN,2014-01-02,09:14:00,23414.0,1,20
2014-01-02 09:14:00,HSI,F,1401,NaN,2014-01-02,09:14:00,23414.0,2,20
2014-01-02 09:14:00,HSI,F,1401,NaN,2014-01-02,09:14:00,23414.0,3,20
2014-01-02 09:14:00,HSI,F,1401,NaN,2014-01-02,09:14:00,23414.0,2,20
2014-01-02 09:14:00,HSI,F,1401,NaN,2014-01-02,09:14:00,23414.0,1,20
2014-01-02 09:14:00,HSI,F,1401,NaN,2014-01-02,09:14:00,23414.0,2,20
2014-01-02 09:14:00,HSI,F,1401,NaN,2014-01-02,09:14:00,23414.0,1,20
2014-01-02 09:14:00,HSI,F,1401,NaN,2014-01-02,09:14:00,23414.0,3,20
2014-01-02 09:14:00,HSI,F,1401,NaN,2014-01-02,09:14:00,23414.0,2,20
2014-01-02 09:14:00,HSI,F,1401,NaN,2014-01-02,09:14:00,23414.0,1,20
...,...,...,...,...,...,...,...,...,...
2015-11-30 16:14:55,HSI,F,1512,NaN,2015-11-30,16:14:55,21915.0,1,1
2015-11-30 16:14:55,HSI,F,1512,NaN,2015-11-30,16:14:55,21910.0,1,1
2015-11-30 16:14:56,HSI,F,1512,NaN,2015-11-30,16:14:56,21909.0,1,1
2015-11-30 16:14:56,HSI,F,1512,NaN,2015-11-30,16:14:56,21912.0,1,1
2015-11-30 16:14:56,HSI,F,1512,NaN,2015-11-30,16:14:56,21915.0,1,1
2015-11-30 16:14:56,HSI,F,1512,NaN,2015-11-30,16:14:56,21915.0,1,1
2015-11-30 16:14:56,HSI,F,1512,NaN,2015-11-30,16:14:56,21915.0,1,1
2015-11-30 16:14:56,HSI,F,1512,NaN,2015-11-30,16:14:56,21911.0,1,1
2015-11-30 16:14:56,HSI,F,1512,NaN,2015-11-30,16:14:56,21909.0,1,1
2015-11-30 16:14:56,HSI,F,1512,NaN,2015-11-30,16:14:56,21909.0,1,1
2015-11-30 16:14:56,HSI,F,1512,NaN,2015-11-30,16:14:56,21908.0,1,1
2015-11-30 16:14:56,HSI,F,1512,NaN,2015-11-30,16:14:56,21907.0,1,1
2015-11-30 16:14:56,HSI,F,1512,NaN,2015-11-30,16:14:56,21907.0,1,1
2015-11-30 16:14:56,HSI,F,1512,NaN,2015-11-30,16:14:56,21907.0,1,1
2015-11-30 16:14:56,HSI,F,1512,NaN,2015-11-30,16:14:56,21907.0,1,1
2015-11-30 16:14:57,HSI,F,1512,NaN,2015-11-30,16:14:57,21908.0,1,1
2015-11-30 16:14:57,HSI,F,1512,NaN,2015-11-30,16:14:57,21908.0,1,1
2015-11-30 16:14:57,HSI,F,1512,NaN,2015-11-30,16:14:57,21914.0,1,1
2015-11-30 16:14:57,HSI,F,1512,NaN,2015-11-30,16:14:57,21915.0,1,1
2015-11-30 16:14:58,HSI,F,1512,NaN,2015-11-30,16:14:58,21908.0,1,1
2015-11-30 16:14:58,HSI,F,1512,NaN,2015-11-30,16:14:58,21907.0,3,1
2015-11-30 16:14:58,HSI,F,1512,NaN,2015-11-30,16:14:58,21907.0,2,1
2015-11-30 16:14:58,HSI,F,1512,NaN,2015-11-30,16:14:58,21907.0,2,1
2015-11-30 16:14:58,HSI,F,1512,NaN,2015-11-30,16:14:58,21907.0,1,1
2015-11-30 16:14:58,HSI,F,1512,NaN,2015-11-30,16:14:58,21907.0,4,1
2015-11-30 16:14:58,HSI,F,1512,NaN,2015-11-30,16:14:58,21915.0,2,1
2015-11-30 16:14:58,HSI,F,1512,NaN,2015-11-30,16:14:58,21909.0,2,1
2015-11-30 16:14:58,HSI,F,1512,NaN,2015-11-30,16:14:58,21909.0,1,1
2015-11-30 16:14:59,HSI,F,1512,NaN,2015-11-30,16:14:59,21909.0,1,1
2015-11-30 16:14:59,HSI,F,1512,NaN,2015-11-30,16:14:59,21909.0,1,1

In [8]:
df.drop(['call_put','trade_type'], axis=1, inplace=True)

D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [9]:
df

,instrument,type,month,trade_date,trade_time,price,vol
b'trade_datetime',,,,,,,
2014-01-02 09:14:00,HSI,F,1401,2014-01-02,09:14:00,23414.0,2
2014-01-02 09:14:00,HSI,F,1401,2014-01-02,09:14:00,23414.0,2
2014-01-02 09:14:00,HSI,F,1401,2014-01-02,09:14:00,23414.0,8
2014-01-02 09:14:00,HSI,F,1401,2014-01-02,09:14:00,23414.0,11
2014-01-02 09:14:00,HSI,F,1401,2014-01-02,09:14:00,23414.0,10
2014-01-02 09:14:00,HSI,F,1401,2014-01-02,09:14:00,23414.0,1
2014-01-02 09:14:00,HSI,F,1401,2014-01-02,09:14:00,23414.0,26
2014-01-02 09:14:00,HSI,F,1401,2014-01-02,09:14:00,23414.0,3
2014-01-02 09:14:00,HSI,F,1401,2014-01-02,09:14:00,23414.0,1
2014-01-02 09:14:00,HSI,F,1401,2014-01-02,09:14:00,23414.0,2
2014-01-02 09:14:00,HSI,F,1401,2014-01-02,09:14:00,23414.0,2
2014-01-02 09:14:00,HSI,F,1401,2014-01-02,09:14:00,23414.0,1
2014-01-02 09:14:00,HSI,F,1401,2014-01-02,09:14:00,23414.0,1
2014-01-02 09:14:00,HSI,F,1401,2014-01-02,09:14:00,23414.0,1
2014-01-02 09:14:00,HSI,F,1401,2014-01-02,09:14:00,23414.0,3
2014-01-02 09:14:00,HSI,F,1401,2014-01-02,09:14:00,23414.0,4
2014-01-02 09:14:00,HSI,F,1401,2014-01-02,09:14:00,23414.0,13
2014-01-02 09:14:00,HSI,F,1401,2014-01-02,09:14:00,23414.0,1
2014-01-02 09:14:00,HSI,F,1401,2014-01-02,09:14:00,23414.0,2
2014-01-02 09:14:00,HSI,F,1401,2014-01-02,09:14:00,23414.0,3
2014-01-02 09:14:00,HSI,F,1401,2014-01-02,09:14:00,23414.0,1
2014-01-02 09:14:00,HSI,F,1401,2014-01-02,09:14:00,23414.0,2
2014-01-02 09:14:00,HSI,F,1401,2014-01-02,09:14:00,23414.0,3
2014-01-02 09:14:00,HSI,F,1401,2014-01-02,09:14:00,23414.0,2
2014-01-02 09:14:00,HSI,F,1401,2014-01-02,09:14:00,23414.0,1
2014-01-02 09:14:00,HSI,F,1401,2014-01-02,09:14:00,23414.0,2
2014-01-02 09:14:00,HSI,F,1401,2014-01-02,09:14:00,23414.0,1
2014-01-02 09:14:00,HSI,F,1401,2014-01-02,09:14:00,23414.0,3
2014-01-02 09:14:00,HSI,F,1401,2014-01-02,09:14:00,23414.0,2
2014-01-02 09:14:00,HSI,F,1401,2014-01-02,09:14:00,23414.0,1
...,...,...,...,...,...,...,...
2015-11-30 16:14:55,HSI,F,1512,2015-11-30,16:14:55,21915.0,1
2015-11-30 16:14:55,HSI,F,1512,2015-11-30,16:14:55,21910.0,1
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21909.0,1
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21912.0,1
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21915.0,1
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21915.0,1
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21915.0,1
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21911.0,1
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21909.0,1
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21909.0,1
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21908.0,1
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21907.0,1
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21907.0,1
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21907.0,1
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21907.0,1
2015-11-30 16:14:57,HSI,F,1512,2015-11-30,16:14:57,21908.0,1
2015-11-30 16:14:57,HSI,F,1512,2015-11-30,16:14:57,21908.0,1
2015-11-30 16:14:57,HSI,F,1512,2015-11-30,16:14:57,21914.0,1
2015-11-30 16:14:57,HSI,F,1512,2015-11-30,16:14:57,21915.0,1
2015-11-30 16:14:58,HSI,F,1512,2015-11-30,16:14:58,21908.0,1
2015-11-30 16:14:58,HSI,F,1512,2015-11-30,16:14:58,21907.0,3
2015-11-30 16:14:58,HSI,F,1512,2015-11-30,16:14:58,21907.0,2
2015-11-30 16:14:58,HSI,F,1512,2015-11-30,16:14:58,21907.0,2
2015-11-30 16:14:58,HSI,F,1512,2015-11-30,16:14:58,21907.0,1
2015-11-30 16:14:58,HSI,F,1512,2015-11-30,16:14:58,21907.0,4
2015-11-30 16:14:58,HSI,F,1512,2015-11-30,16:14:58,21915.0,2
2015-11-30 16:14:58,HSI,F,1512,2015-11-30,16:14:58,21909.0,2
2015-11-30 16:14:58,HSI,F,1512,2015-11-30,16:14:58,21909.0,1
2015-11-30 16:14:59,HSI,F,1512,2015-11-30,16:14:59,21909.0,1
2015-11-30 16:14:59,HSI,F,1512,2015-11-30,16:14:59,21909.0,1

In [10]:
df.to_hdf('his_simplified.h5','df')

In [ ]:
df2 = df[df]