In [7]:
import numpy as np 
import pandas as pd
import math

In [2]:
df = pd.read_hdf('C:\\Users\\Administrator\\Desktop\\Work\\data\\day\\000016.SH.day.h5')

In [3]:
df

,OPEN,HIGH,LOW,CLOSE,VOLUME,AMT,CHG,PCT_CHG,OI
2016-09-19,2178.7597,2191.2152,2178.7597,2189.4611,1.413566e+09,1.296410e+10,12.9381,0.594439,NaN
2016-09-20,2190.0973,2190.7166,2181.0162,2184.2066,1.102289e+09,1.091729e+10,-5.2545,-0.239991,NaN
2016-09-21,2184.4235,2191.8130,2180.5012,2187.1542,1.244651e+09,1.249927e+10,2.9476,0.134951,NaN
2016-09-22,2195.2461,2210.7925,2192.4912,2200.6981,1.539804e+09,1.599517e+10,13.5439,0.619248,NaN
2016-09-23,2202.6976,2203.6628,2195.0766,2196.2903,1.172764e+09,1.106682e+10,-4.4078,-0.200291,NaN
2016-09-26,2190.3899,2190.3899,2166.8248,2167.2640,1.694821e+09,1.630655e+10,-29.0263,-1.321606,NaN
2016-09-27,2163.3779,2176.7666,2162.4355,2176.4476,1.259254e+09,1.228667e+10,9.1836,0.423742,NaN
2016-09-28,2177.4147,2177.4147,2165.3322,2166.7226,9.288432e+08,9.340080e+09,-9.7250,-0.446829,NaN
2016-09-29,2170.9872,2183.1708,2170.8428,2175.3696,1.187946e+09,1.152424e+10,8.6470,0.399082,NaN
2016-09-30,2171.9392,2182.6073,2171.4920,2177.3524,9.219305e+08,9.655516e+09,1.9828,0.091148,NaN
2016-10-10,2187.6518,2204.3272,2185.4675,2202.8725,1.930020e+09,1.757086e+10,25.5201,1.172070,NaN
2016-10-11,2205.3535,2212.4290,2202.1237,2209.2276,2.116938e+09,1.932477e+10,6.3551,0.288492,NaN
2016-10-12,2205.4440,2205.4440,2196.8521,2200.9969,1.547884e+09,1.363202e+10,-8.2307,-0.372560,NaN
2016-10-13,2201.3398,2204.8884,2194.5954,2202.1167,1.830879e+09,1.620894e+10,1.1198,0.050877,NaN
2016-10-14,2199.5558,2211.0919,2196.2605,2209.8145,2.395051e+09,1.945026e+10,7.6978,0.349564,NaN
2016-10-17,2207.3532,2209.1407,2189.2717,2192.8845,2.316187e+09,2.007503e+10,-16.9300,-0.766128,NaN
2016-10-18,2189.9320,2224.3372,2189.9320,2222.7832,3.177712e+09,2.861988e+10,29.8987,1.363442,NaN
2016-10-19,2222.7808,2230.8279,2217.6269,2221.5341,2.943281e+09,2.477579e+10,-1.2491,-0.056195,NaN
2016-10-20,2222.6307,2228.9359,2218.9689,2223.4242,1.977292e+09,1.664374e+10,1.8901,0.085081,NaN
2016-10-21,2221.3831,2246.5789,2221.0355,2240.7496,3.566858e+09,3.114460e+10,17.3254,0.779222,NaN
2016-10-24,2245.4581,2285.0836,2243.8107,2270.9504,4.960345e+09,4.651189e+10,30.2008,1.347799,NaN
2016-10-25,2270.0167,2274.3835,2258.9193,2266.1718,3.242379e+09,2.990247e+10,-4.7786,-0.210423,NaN
2016-10-26,2263.6921,2266.8789,2254.6297,2257.1164,2.714606e+09,2.657664e+10,-9.0554,-0.399590,NaN
2016-10-27,2254.3219,2256.2063,2243.6342,2250.2589,2.343831e+09,2.193565e+10,-6.8575,-0.303817,NaN
2016-10-28,2252.3836,2271.9059,2249.4854,2253.8017,2.823346e+09,2.916209e+10,3.5428,0.157440,NaN
2016-10-31,2247.9901,2253.8033,2236.2027,2250.4693,1.981496e+09,2.050331e+10,-3.3324,-0.147857,NaN
2016-11-01,2250.4946,2263.6239,2246.9485,2263.4785,2.201531e+09,2.161464e+10,13.0092,0.578066,NaN
2016-11-02,2256.1179,2259.1863,2242.7688,2244.7436,2.226082e+09,2.183400e+10,-18.7349,-0.827704,NaN
2016-11-03,2241.4374,2283.2490,2239.8675,2273.6329,4.091303e+09,4.143699e+10,28.8893,1.286975,NaN
2016-11-04,2271.8454,2284.9537,2266.9174,2271.9263,3.619209e+09,3.404151e+10,-1.7066,-0.075060,NaN
...,...,...,...,...,...,...,...,...,...
2017-08-09,2630.6700,2634.4349,2618.8132,2620.3807,2.470791e+09,3.320415e+10,-14.8034,-0.561760,NaN
2017-08-10,2617.9885,2635.3510,2590.8637,2611.3412,2.817148e+09,3.958089e+10,-9.0395,-0.344969,NaN
2017-08-11,2592.0380,2599.7121,2566.5727,2570.2565,3.517096e+09,4.427624e+10,-41.0847,-1.573318,NaN
2017-08-14,2572.3008,2598.3794,2567.6009,2591.4536,2.611890e+09,3.627997e+10,21.1971,0.824708,NaN
2017-08-15,2593.0719,2623.0837,2592.9242,2605.2415,2.790098e+09,3.309174e+10,13.7879,0.532053,NaN
2017-08-16,2601.4708,2602.0988,2586.3352,2595.0017,2.035181e+09,2.516715e+10,-10.2398,-0.393046,NaN
2017-08-17,2599.0419,2606.6849,2591.5420,2604.0837,2.057110e+09,2.777849e+10,9.0820,0.349981,NaN
2017-08-18,2601.8845,2621.9693,2595.8647,2613.2647,1.989783e+09,3.112255e+10,9.1810,0.352562,NaN
2017-08-21,2619.0381,2628.8017,2610.2570,2616.8248,1.943687e+09,2.707487e+10,3.5601,0.136232,NaN
2017-08-22,2624.4106,2644.1982,2620.1589,2643.5032,2.711818e+09,3.744533e+10,26.6784,1.019495,NaN
2017-08-23,2641.7920,2673.3854,2639.6618,2659.7804,3.469179e+09,4.117912e+10,16.2772,0.615744,NaN
2017-08-24,2659.6517,2675.1978,2641.8253,2646.4016,2.993921e+09,3.388706e+10,-13.3788,-0.503004,NaN
2017-08-25,2645.4491,2706.7039,2645.4491,2706.2421,4.749375e+09,5.305188e+10,59.8405,2.261203,NaN
2017-08-28,2715.4696,2766.7900,2715.4696,2736.4617,6.050110e+09,7.724885e+10,30.2196,1.116663,NaN
2017-08-29,2734.4459,2746.1030,2726.2180,2739.1290,3.526228e+09,4.675980e+10,2.6673,0.097473,NaN
2017-08-30,2739.9951,2762.0668,2720.6558,2728.2308,4.205280e+09,5.373657e+10,-10.8982,-0.397871,NaN
2017-08-31,2729.4694,2735.4262,2701.8849,2714.6313,4.018223e+09,4.685554e+10,-13.5995,-0.498473,NaN
2017-09-01,2716.0543,2734.7684,2700.1618,2710.1186,4.309330e+09,5.247288e+10,-4.5127,-0.166236,NaN
2017-09-04,2703.3303,2713.7289,2691.7754,2711.3475,3.319629e+09,4.356919e+10,1.2289,0.045345,NaN
2017-09-05,2712.7609,2738.5940,2711.1738,2729.8476,3.053479e+09,3.904362e+10,18.5001,0.682321,NaN
2017-09-06,2721.9475,2725.2397,2703.6515,2714.3309,3.113793e+09,4.090742e+10,-15.5167,-0.568409,NaN
2017-09-07,2716.1251,2717.5555,2690.8771,2691.8290,2.763611e+09,3.718180e+10,-22.5019,-0.829004,NaN
2017-09-08,2692.7975,2701.5697,2681.4428,2686.6899,2.447129e+09,3.259954e+10,-5.1391,-0.190915,NaN
2017-09-11,2691.3364,2708.4223,2673.6232,2674.7502,2.908410e+09,4.008527e+10,-11.9397,-0.444402,NaN
2017-09-12,2682.2494,2695.5250,2672.2850,2692.5401,3.078832e+09,4.484790e+10,17.7899,0.665105,NaN
2017-09-13,2690.5596,2694.4138,2676.2487,2687.6707,2.119772e+09,2.898631e+10,-4.8694,-0.180848,NaN
2017-09-14,2688.3998,2694.7750,2666.8169,2672.8364,2.858674e+09,3.652983e+10,-14.8343,-0.551939,NaN
2017-09-15,2669.6530,2677.5329,2659.7328,2668.3759,3.464898e+09,4.324333e+10,-4.4605,-0.166883,NaN
2017-09-18,2670.1977,2694.0589,2670.1977,2674.1759,3.313464e+09,4.447027e+10,5.8000,0.217361,NaN
2017-09-19,2680.7159,2687.1837,2661.6095,2670.6914,3.008736e+09,3.748888e+10,-3.4845,-0.130302,NaN

In [15]:
df2 =df.OPEN.apply(lambda x : math.sqrt(x**2.1+1099))

In [16]:
df2

2016-09-19    3199.949374
2016-09-20    3217.433910
2016-09-21    3208.683363
2016-09-22    3225.375748
2016-09-23    3236.871069
2016-09-26    3217.885210
2016-09-27    3176.235276
2016-09-28    3197.875454
2016-09-29    3187.965470
2016-09-30    3189.433180
2016-10-10    3213.662143
2016-10-11    3240.968759
2016-10-12    3241.108393
2016-10-13    3234.776265
2016-10-14    3232.024022
2016-10-17    3244.054186
2016-10-18    3217.178957
2016-10-19    3267.862819
2016-10-20    3267.631137
2016-10-21    3265.705477
2016-10-24    3302.874564
2016-10-25    3340.810853
2016-10-26    3331.039109
2016-10-27    3316.564314
2016-10-28    3313.570464
2016-10-31    3306.784851
2016-11-01    3310.652886
2016-11-02    3319.338486
2016-11-03    3296.665662
2016-11-04    3343.636518
                 ...
2017-08-09    3900.186546
2017-08-10    3880.448914
2017-08-11    3840.074203
2017-08-14    3809.379904
2017-08-15    3841.682395
2017-08-16    3854.747758
2017-08-17    3850.969134
2017-08-18    3855.391366
2017-08-21    3882.082342
2017-08-22    3890.443747
2017-08-23    3917.500877
2017-08-24    3945.311851
2017-08-25    3923.194918
2017-08-28    4032.291036
2017-08-29    4061.881666
2017-08-30    4070.536738
2017-08-31    4054.120579
2017-09-01    4033.202631
2017-09-04    4013.367084
2017-09-05    4028.068076
2017-09-06    4042.391167
2017-09-07    4033.313015
2017-09-08    3996.950951
2017-09-11    3994.673974
2017-09-12    3980.514194
2017-09-13    3993.463435
2017-09-14    3990.097767
2017-09-15    3960.889879
2017-09-18    3961.738388
2017-09-19    3978.124860
Name: OPEN, Length: 246, dtype: float64

In [22]:
df2 = pd.DataFrame([df2])

In [23]:
df2 = df2.T

In [24]:
df2

                   OPEN
2016-09-19  3199.949374
2016-09-20  3217.433910
2016-09-21  3208.683363
2016-09-22  3225.375748
2016-09-23  3236.871069
2016-09-26  3217.885210
2016-09-27  3176.235276
2016-09-28  3197.875454
2016-09-29  3187.965470
2016-09-30  3189.433180
2016-10-10  3213.662143
2016-10-11  3240.968759
2016-10-12  3241.108393
2016-10-13  3234.776265
2016-10-14  3232.024022
2016-10-17  3244.054186
2016-10-18  3217.178957
2016-10-19  3267.862819
2016-10-20  3267.631137
2016-10-21  3265.705477
2016-10-24  3302.874564
2016-10-25  3340.810853
2016-10-26  3331.039109
2016-10-27  3316.564314
2016-10-28  3313.570464
2016-10-31  3306.784851
2016-11-01  3310.652886
2016-11-02  3319.338486
2016-11-03  3296.665662
2016-11-04  3343.636518
...                 ...
2017-08-09  3900.186546
2017-08-10  3880.448914
2017-08-11  3840.074203
2017-08-14  3809.379904
2017-08-15  3841.682395
2017-08-16  3854.747758
2017-08-17  3850.969134
2017-08-18  3855.391366
2017-08-21  3882.082342
2017-08-22  3890.443747
2017-08-23  3917.500877
2017-08-24  3945.311851
2017-08-25  3923.194918
2017-08-28  4032.291036
2017-08-29  4061.881666
2017-08-30  4070.536738
2017-08-31  4054.120579
2017-09-01  4033.202631
2017-09-04  4013.367084
2017-09-05  4028.068076
2017-09-06  4042.391167
2017-09-07  4033.313015
2017-09-08  3996.950951
2017-09-11  3994.673974
2017-09-12  3980.514194
2017-09-13  3993.463435
2017-09-14  3990.097767
2017-09-15  3960.889879
2017-09-18  3961.738388
2017-09-19  3978.124860

[246 rows x 1 columns]

In [28]:
sum(df2.OPEN > 3800)/len(df2.OPEN)

0.1991869918699187

In [29]:
df2

                   OPEN
2016-09-19  3199.949374
2016-09-20  3217.433910
2016-09-21  3208.683363
2016-09-22  3225.375748
2016-09-23  3236.871069
2016-09-26  3217.885210
2016-09-27  3176.235276
2016-09-28  3197.875454
2016-09-29  3187.965470
2016-09-30  3189.433180
2016-10-10  3213.662143
2016-10-11  3240.968759
2016-10-12  3241.108393
2016-10-13  3234.776265
2016-10-14  3232.024022
2016-10-17  3244.054186
2016-10-18  3217.178957
2016-10-19  3267.862819
2016-10-20  3267.631137
2016-10-21  3265.705477
2016-10-24  3302.874564
2016-10-25  3340.810853
2016-10-26  3331.039109
2016-10-27  3316.564314
2016-10-28  3313.570464
2016-10-31  3306.784851
2016-11-01  3310.652886
2016-11-02  3319.338486
2016-11-03  3296.665662
2016-11-04  3343.636518
...                 ...
2017-08-09  3900.186546
2017-08-10  3880.448914
2017-08-11  3840.074203
2017-08-14  3809.379904
2017-08-15  3841.682395
2017-08-16  3854.747758
2017-08-17  3850.969134
2017-08-18  3855.391366
2017-08-21  3882.082342
2017-08-22  3890.443747
2017-08-23  3917.500877
2017-08-24  3945.311851
2017-08-25  3923.194918
2017-08-28  4032.291036
2017-08-29  4061.881666
2017-08-30  4070.536738
2017-08-31  4054.120579
2017-09-01  4033.202631
2017-09-04  4013.367084
2017-09-05  4028.068076
2017-09-06  4042.391167
2017-09-07  4033.313015
2017-09-08  3996.950951
2017-09-11  3994.673974
2017-09-12  3980.514194
2017-09-13  3993.463435
2017-09-14  3990.097767
2017-09-15  3960.889879
2017-09-18  3961.738388
2017-09-19  3978.124860

[246 rows x 1 columns]

In [30]:
df2**2

                    OPEN
2016-09-19  1.023968e+07
2016-09-20  1.035188e+07
2016-09-21  1.029565e+07
2016-09-22  1.040305e+07
2016-09-23  1.047733e+07
2016-09-26  1.035479e+07
2016-09-27  1.008847e+07
2016-09-28  1.022641e+07
2016-09-29  1.016312e+07
2016-09-30  1.017248e+07
2016-10-10  1.032762e+07
2016-10-11  1.050388e+07
2016-10-12  1.050478e+07
2016-10-13  1.046378e+07
2016-10-14  1.044598e+07
2016-10-17  1.052389e+07
2016-10-18  1.035024e+07
2016-10-19  1.067893e+07
2016-10-20  1.067741e+07
2016-10-21  1.066483e+07
2016-10-24  1.090898e+07
2016-10-25  1.116102e+07
2016-10-26  1.109582e+07
2016-10-27  1.099960e+07
2016-10-28  1.097975e+07
2016-10-31  1.093483e+07
2016-11-01  1.096042e+07
2016-11-02  1.101801e+07
2016-11-03  1.086800e+07
2016-11-04  1.117991e+07
...                  ...
2017-08-09  1.521146e+07
2017-08-10  1.505788e+07
2017-08-11  1.474617e+07
2017-08-14  1.451138e+07
2017-08-15  1.475852e+07
2017-08-16  1.485908e+07
2017-08-17  1.482996e+07
2017-08-18  1.486404e+07
2017-08-21  1.507056e+07
2017-08-22  1.513555e+07
2017-08-23  1.534681e+07
2017-08-24  1.556549e+07
2017-08-25  1.539146e+07
2017-08-28  1.625937e+07
2017-08-29  1.649888e+07
2017-08-30  1.656927e+07
2017-08-31  1.643589e+07
2017-09-01  1.626672e+07
2017-09-04  1.610712e+07
2017-09-05  1.622533e+07
2017-09-06  1.634093e+07
2017-09-07  1.626761e+07
2017-09-08  1.597562e+07
2017-09-11  1.595742e+07
2017-09-12  1.584449e+07
2017-09-13  1.594775e+07
2017-09-14  1.592088e+07
2017-09-15  1.568865e+07
2017-09-18  1.569537e+07
2017-09-19  1.582548e+07

[246 rows x 1 columns]

In [35]:
df2['hi'] = pd.DataFrame(['hello','2','3','4'])

In [36]:
df2

                   OPEN   hi
2016-09-19  3199.949374  NaN
2016-09-20  3217.433910  NaN
2016-09-21  3208.683363  NaN
2016-09-22  3225.375748  NaN
2016-09-23  3236.871069  NaN
2016-09-26  3217.885210  NaN
2016-09-27  3176.235276  NaN
2016-09-28  3197.875454  NaN
2016-09-29  3187.965470  NaN
2016-09-30  3189.433180  NaN
2016-10-10  3213.662143  NaN
2016-10-11  3240.968759  NaN
2016-10-12  3241.108393  NaN
2016-10-13  3234.776265  NaN
2016-10-14  3232.024022  NaN
2016-10-17  3244.054186  NaN
2016-10-18  3217.178957  NaN
2016-10-19  3267.862819  NaN
2016-10-20  3267.631137  NaN
2016-10-21  3265.705477  NaN
2016-10-24  3302.874564  NaN
2016-10-25  3340.810853  NaN
2016-10-26  3331.039109  NaN
2016-10-27  3316.564314  NaN
2016-10-28  3313.570464  NaN
2016-10-31  3306.784851  NaN
2016-11-01  3310.652886  NaN
2016-11-02  3319.338486  NaN
2016-11-03  3296.665662  NaN
2016-11-04  3343.636518  NaN
...                 ...  ...
2017-08-09  3900.186546  NaN
2017-08-10  3880.448914  NaN
2017-08-11  3840.074203  NaN
2017-08-14  3809.379904  NaN
2017-08-15  3841.682395  NaN
2017-08-16  3854.747758  NaN
2017-08-17  3850.969134  NaN
2017-08-18  3855.391366  NaN
2017-08-21  3882.082342  NaN
2017-08-22  3890.443747  NaN
2017-08-23  3917.500877  NaN
2017-08-24  3945.311851  NaN
2017-08-25  3923.194918  NaN
2017-08-28  4032.291036  NaN
2017-08-29  4061.881666  NaN
2017-08-30  4070.536738  NaN
2017-08-31  4054.120579  NaN
2017-09-01  4033.202631  NaN
2017-09-04  4013.367084  NaN
2017-09-05  4028.068076  NaN
2017-09-06  4042.391167  NaN
2017-09-07  4033.313015  NaN
2017-09-08  3996.950951  NaN
2017-09-11  3994.673974  NaN
2017-09-12  3980.514194  NaN
2017-09-13  3993.463435  NaN
2017-09-14  3990.097767  NaN
2017-09-15  3960.889879  NaN
2017-09-18  3961.738388  NaN
2017-09-19  3978.124860  NaN

[246 rows x 2 columns]

In [39]:
a = np.random.standard_normal((9,4))
a.round(6)

array([[-0.304125, -0.416369, -0.154828,  0.832167],
       [-0.328672,  0.364181,  1.271868, -1.200275],
       [ 0.390998,  1.140617, -0.55157 , -0.168346],
       [-0.502466,  0.828704,  0.429122, -0.685114],
       [-0.397184,  1.906177,  0.161847, -1.549813],
       [-0.933308,  0.992798, -0.10099 ,  0.572305],
       [-0.616422,  0.786454, -0.683971, -0.919591],
       [ 0.171931, -0.662978,  1.457869, -0.415695],
       [-0.602039,  0.33459 , -0.57968 , -0.576545]])

In [40]:
df = pd.DataFrame(a)

In [41]:
df

          0         1         2         3
0 -0.304125 -0.416369 -0.154828  0.832167
1 -0.328672  0.364181  1.271868 -1.200275
2  0.390998  1.140617 -0.551570 -0.168346
3 -0.502466  0.828704  0.429122 -0.685114
4 -0.397184  1.906177  0.161847 -1.549813
5 -0.933308  0.992798 -0.100990  0.572305
6 -0.616422  0.786454 -0.683971 -0.919591
7  0.171931 -0.662978  1.457869 -0.415695
8 -0.602039  0.334590 -0.579680 -0.576545

In [43]:
df.columns = [['A','B','C','D']]

In [44]:
df

          A         B         C         D
0 -0.304125 -0.416369 -0.154828  0.832167
1 -0.328672  0.364181  1.271868 -1.200275
2  0.390998  1.140617 -0.551570 -0.168346
3 -0.502466  0.828704  0.429122 -0.685114
4 -0.397184  1.906177  0.161847 -1.549813
5 -0.933308  0.992798 -0.100990  0.572305
6 -0.616422  0.786454 -0.683971 -0.919591
7  0.171931 -0.662978  1.457869 -0.415695
8 -0.602039  0.334590 -0.579680 -0.576545

In [46]:
dates = pd.date_range('2017-9-25',periods = 9, freq = 'D')
dates

DatetimeIndex(['2017-09-25', '2017-09-26', '2017-09-27', '2017-09-28',
               '2017-09-29', '2017-09-30', '2017-10-01', '2017-10-02',
               '2017-10-03'],
              dtype='datetime64[ns]', freq='D')

In [47]:
df.index = dates

In [48]:
df

                   A         B         C         D
2017-09-25 -0.304125 -0.416369 -0.154828  0.832167
2017-09-26 -0.328672  0.364181  1.271868 -1.200275
2017-09-27  0.390998  1.140617 -0.551570 -0.168346
2017-09-28 -0.502466  0.828704  0.429122 -0.685114
2017-09-29 -0.397184  1.906177  0.161847 -1.549813
2017-09-30 -0.933308  0.992798 -0.100990  0.572305
2017-10-01 -0.616422  0.786454 -0.683971 -0.919591
2017-10-02  0.171931 -0.662978  1.457869 -0.415695
2017-10-03 -0.602039  0.334590 -0.579680 -0.576545

In [49]:
df['Quarter'] = ['Q1','Q2','Q1','Q2','Q3','Q3','Q4','Q4','Q5']

In [50]:
df

                   A         B         C         D Quarter
2017-09-25 -0.304125 -0.416369 -0.154828  0.832167      Q1
2017-09-26 -0.328672  0.364181  1.271868 -1.200275      Q2
2017-09-27  0.390998  1.140617 -0.551570 -0.168346      Q1
2017-09-28 -0.502466  0.828704  0.429122 -0.685114      Q2
2017-09-29 -0.397184  1.906177  0.161847 -1.549813      Q3
2017-09-30 -0.933308  0.992798 -0.100990  0.572305      Q3
2017-10-01 -0.616422  0.786454 -0.683971 -0.919591      Q4
2017-10-02  0.171931 -0.662978  1.457869 -0.415695      Q4
2017-10-03 -0.602039  0.334590 -0.579680 -0.576545      Q5

In [63]:
groups = df.groupby('Quarter')

In [64]:
groups.mean()

                A         B         C         D
Quarter
Q1       0.043437  0.362124 -0.353199  0.331911
Q2      -0.415569  0.596442  0.850495 -0.942695
Q3      -0.665246  1.449487  0.030429 -0.488754
Q4      -0.222246  0.061738  0.386949 -0.667643
Q5      -0.602039  0.334590 -0.579680 -0.576545

In [65]:
groups.max()

                A         B         C         D
Quarter
Q1       0.390998  1.140617 -0.154828  0.832167
Q2      -0.328672  0.828704  1.271868 -0.685114
Q3      -0.397184  1.906177  0.161847  0.572305
Q4       0.171931  0.786454  1.457869 -0.415695
Q5      -0.602039  0.334590 -0.579680 -0.576545

In [66]:
groups.size()

Quarter
Q1    2
Q2    2
Q3    2
Q4    2
Q5    1
dtype: int64

In [67]:
df['T_F'] = ['T','T','T','F','F','T','F','T','T']

In [68]:
groups = df.groupby(['Quarter','T_F'])

In [69]:
groups.size()

Quarter  T_F
Q1       T      2
Q2       F      1
         T      1
Q3       F      1
         T      1
Q4       F      1
         T      1
Q5       T      1
dtype: int64

SyntaxError: invalid syntax (<ipython-input-71-04102ac96de0>, line 1)