In [1]:
import pandas as pd

In [3]:
sr1 = pd.Series([1,4,5,6,3,2,54])
sr1

0     1
1     4
2     5
3     6
4     3
5     2
6    54
dtype: int64

In [4]:
sr2 = pd.Series([1,2,3])
sr2

0    1
1    2
2    3
dtype: int64

In [5]:
sr3 = pd.Series([8,4,2,4,45,2])
sr3

0     8
1     4
2     2
3     4
4    45
5     2
dtype: int64

In [6]:
df = pd.DataFrame([sr1,sr2,sr3])

In [7]:
df

     0    1    2    3     4    5     6
0  1.0  4.0  5.0  6.0   3.0  2.0  54.0
1  1.0  2.0  3.0  NaN   NaN  NaN   NaN
2  8.0  4.0  2.0  4.0  45.0  2.0   NaN

In [8]:
df = df.T
df

      0    1     2
0   1.0  1.0   8.0
1   4.0  2.0   4.0
2   5.0  3.0   2.0
3   6.0  NaN   4.0
4   3.0  NaN  45.0
5   2.0  NaN   2.0
6  54.0  NaN   NaN

In [27]:
import pandas as pd

In [4]:
pd.read_hdf('C:\\Users\\Administrator\\Desktop\\mergehsi\\amplitudeSlope.h5')

,Date,Max_Time,Min_Time,amplitudeDuration,amplitude,hour,mins,secs,Duration_mins,amplitudeSlope
Date,,,,,,,,,,
2013-05-02,2013-05-02,11:01:59,10:51:59,00:10:00,568.0,0,10,0,10.000000,56.800000
2013-05-03,2013-05-03,10:00:59,13:35:57,03:34:58,625.0,3,34,58,214.966667,2.907428
2013-05-06,2013-05-06,09:15:59,10:43:58,01:27:59,559.0,1,27,59,87.983333,6.353476
2013-05-07,2013-05-07,16:10:58,09:26:58,06:44:00,585.0,6,44,0,404.000000,1.448020
2013-05-08,2013-05-08,15:37:59,09:50:56,05:47:03,512.0,5,47,3,347.050000,1.475292
2013-05-09,2013-05-09,09:20:59,09:25:56,00:04:57,547.0,0,4,57,4.950000,110.505051
2013-05-10,2013-05-10,15:34:59,15:44:57,00:09:58,553.0,0,9,58,9.966667,55.484950
2013-05-13,2013-05-13,09:15:59,14:53:59,05:38:00,715.0,5,38,0,338.000000,2.115385
2013-05-14,2013-05-14,09:28:59,13:02:58,03:33:59,671.0,3,33,59,213.983333,3.135758
2013-05-15,2013-05-15,13:20:58,15:44:59,02:24:01,552.0,2,24,1,144.016667,3.832890
2013-05-16,2013-05-16,11:23:58,09:25:59,01:57:59,628.0,1,57,59,117.983333,5.322786
2013-05-20,2013-05-20,11:05:58,09:14:01,01:51:57,630.0,1,51,57,111.950000,5.627512
2013-05-21,2013-05-21,10:39:59,16:10:59,05:31:00,485.0,5,31,0,331.000000,1.465257
2013-05-22,2013-05-22,13:18:59,14:22:59,01:04:00,637.0,1,4,0,64.000000,9.953125
2013-05-23,2013-05-23,09:16:57,14:24:59,05:08:02,1060.0,5,8,2,308.033333,3.441186
2013-05-24,2013-05-24,09:38:59,12:59:00,03:20:01,690.0,3,20,1,200.016667,3.449713
2013-05-27,2013-05-27,15:31:58,09:15:59,06:15:59,618.0,6,15,59,375.983333,1.643690
2013-05-28,2013-05-28,15:59:59,14:16:59,01:43:00,647.0,1,43,0,103.000000,6.281553
2013-05-29,2013-05-29,09:41:59,15:47:59,06:06:00,748.0,6,6,0,366.000000,2.043716
2013-05-30,2013-05-30,09:46:59,13:26:59,03:40:00,744.0,3,40,0,220.000000,3.381818
2013-05-31,2013-05-31,09:17:59,15:31:59,06:14:00,365.0,6,14,0,374.000000,0.975936
2013-06-03,2013-06-03,09:36:59,15:44:59,06:08:00,478.0,6,8,0,368.000000,1.298913
2013-06-04,2013-06-04,09:14:01,11:27:59,02:13:58,315.0,2,13,58,133.966667,2.351331
2013-06-05,2013-06-05,10:11:56,14:53:59,04:42:03,377.0,4,42,3,282.050000,1.336642
2013-06-06,2013-06-06,09:16:59,13:01:59,03:45:00,310.0,3,45,0,225.000000,1.377778
2013-06-07,2013-06-07,09:35:59,12:59:00,03:23:01,430.0,3,23,1,203.016667,2.118053
2013-06-10,2013-06-10,11:34:59,13:25:59,01:51:00,318.0,1,51,0,111.000000,2.864865
2013-06-11,2013-06-11,09:50:56,15:24:59,05:34:03,428.0,5,34,3,334.050000,1.281245
2013-06-13,2013-06-13,09:14:01,13:32:59,04:18:58,501.0,4,18,58,258.966667,1.934612
2013-06-14,2013-06-14,10:10:59,15:12:59,05:02:00,347.0,5,2,0,302.000000,1.149007
...,...,...,...,...,...,...,...,...,...,...
2015-10-19,2015-10-19,15:33:59,14:10:59,01:23:00,225.0,1,23,0,83.000000,2.710843
2015-10-20,2015-10-20,09:41:59,14:32:59,04:51:00,250.0,4,51,0,291.000000,0.859107
2015-10-22,2015-10-22,16:11:58,09:32:59,06:38:59,170.0,6,38,59,398.983333,0.426083
2015-10-23,2015-10-23,09:14:00,09:48:59,00:34:59,212.0,0,34,59,34.983333,6.060029
2015-10-26,2015-10-26,09:14:00,16:13:57,06:59:57,383.0,6,59,57,419.950000,0.912013
2015-10-27,2015-10-27,14:40:59,11:22:59,03:18:00,260.0,3,18,0,198.000000,1.313131
2015-10-28,2015-10-28,10:00:59,15:16:58,05:15:59,220.0,5,15,59,315.983333,0.696239
2015-10-29,2015-10-29,09:23:59,16:02:59,06:39:00,328.0,6,39,0,399.000000,0.822055
2015-10-30,2015-10-30,13:06:59,15:59:59,02:53:00,627.0,2,53,0,173.000000,3.624277
2015-11-02,2015-11-02,11:15:59,15:45:59,04:30:00,640.0,4,30,0,270.000000,2.370370
2015-11-03,2015-11-03,10:17:59,09:14:00,01:03:59,529.0,1,3,59,63.983333,8.267778
2015-11-04,2015-11-04,11:30:59,09:20:59,02:10:00,1040.0,2,10,0,130.000000,8.000000
2015-11-05,2015-11-05,10:18:59,09:30:59,00:48:00,600.0,0,48,0,48.000000,12.500000
2015-11-06,2015-11-06,09:14:00,16:12:59,06:58:59,555.0,6,58,59,418.983333,1.324635
2015-11-09,2015-11-09,11:17:59,16:12:59,04:55:00,655.0,4,55,0,295.000000,2.220339
2015-11-10,2015-11-10,11:22:59,15:41:59,04:19:00,720.0,4,19,0,259.000000,2.779923
2015-11-11,2015-11-11,11:16:59,15:35:59,04:19:00,526.0,4,19,0,259.000000,2.030888
2015-11-12,2015-11-12,15:34:59,09:14:00,06:20:59,997.0,6,20,59,380.983333,2.616912
2015-11-13,2015-11-13,09:14:00,13:56:59,04:42:59,590.0,4,42,59,282.983333,2.084928
2015-11-16,2015-11-16,16:13:59,09:14:01,06:59:58,580.0,6,59,58,419.966667,1.381062
2015-11-17,2015-11-17,13:02:59,16:05:59,03:03:00,610.0,3,3,0,183.000000,3.333333
2015-11-18,2015-11-18,09:26:59,15:57:59,06:31:00,565.0,6,31,0,391.000000,1.445013
2015-11-19,2015-11-19,10:29:58,09:22:59,01:06:59,498.0,1,6,59,66.983333,7.434685
2015-11-20,2015-11-20,16:12:58,09:40:59,06:31:59,753.0,6,31,59,391.983333,1.921000
2015-11-23,2015-11-23,11:22:59,14:15:59,02:53:00,536.0,2,53,0,173.000000,3.098266
2015-11-24,2015-11-24,09:14:00,13:11:59,03:57:59,666.0,3,57,59,237.983333,2.798515
2015-11-25,2015-11-25,13:41:59,16:03:59,02:22:00,535.0,2,22,0,142.000000,3.767606
2015-11-26,2015-11-26,09:20:59,14:36:59,05:16:00,991.0,5,16,0,316.000000,3.136076
2015-11-27,2015-11-27,09:14:00,16:12:59,06:58:59,962.0,6,58,59,418.983333,2.296034
2015-11-30,2015-11-30,14:24:59,09:40:59,04:44:00,641.0,4,44,0,284.000000,2.257042

In [2]:
pd.read_csv('C:\\Users\\Administrator\\Desktop\\mergehsi\\max2here.csv')

         Unnamed: 0       trade_datetime    price
0        2013-05-02  2013-05-02 09:14:00  22309.0
1        2013-05-02  2013-05-02 09:15:00  22550.0
2        2013-05-02  2013-05-02 09:16:00  22550.0
3        2013-05-02  2013-05-02 09:17:00  22550.0
4        2013-05-02  2013-05-02 09:18:00  22550.0
5        2013-05-02  2013-05-02 09:19:00  22550.0
6        2013-05-02  2013-05-02 09:20:00  22550.0
7        2013-05-02  2013-05-02 09:21:00  22550.0
8        2013-05-02  2013-05-02 09:22:00  22550.0
9        2013-05-02  2013-05-02 09:23:00  22560.0
10       2013-05-02  2013-05-02 09:24:00  22560.0
11       2013-05-02  2013-05-02 09:25:00  22560.0
12       2013-05-02  2013-05-02 09:26:00  22560.0
13       2013-05-02  2013-05-02 09:27:00  22560.0
14       2013-05-02  2013-05-02 09:28:00  22560.0
15       2013-05-02  2013-05-02 09:29:00  22560.0
16       2013-05-02  2013-05-02 09:30:00  22560.0
17       2013-05-02  2013-05-02 09:31:00  22560.0
18       2013-05-02  2013-05-02 09:32:00  22560.0
19       2013-05-02  2013-05-02 09:33:00  22560.0
20       2013-05-02  2013-05-02 09:34:00  22560.0
21       2013-05-02  2013-05-02 09:35:00  22560.0
22       2013-05-02  2013-05-02 09:36:00  22560.0
23       2013-05-02  2013-05-02 09:37:00  22560.0
24       2013-05-02  2013-05-02 09:38:00  22560.0
25       2013-05-02  2013-05-02 09:39:00  22560.0
26       2013-05-02  2013-05-02 09:40:00  22560.0
27       2013-05-02  2013-05-02 09:41:00  22560.0
28       2013-05-02  2013-05-02 09:42:00  22560.0
29       2013-05-02  2013-05-02 09:43:00  22560.0
...             ...                  ...      ...
1356871  2015-11-30  2015-11-30 15:45:00  22165.0
1356872  2015-11-30  2015-11-30 15:46:00  22165.0
1356873  2015-11-30  2015-11-30 15:47:00  22165.0
1356874  2015-11-30  2015-11-30 15:48:00  22165.0
1356875  2015-11-30  2015-11-30 15:49:00  22165.0
1356876  2015-11-30  2015-11-30 15:50:00  22165.0
1356877  2015-11-30  2015-11-30 15:51:00  22165.0
1356878  2015-11-30  2015-11-30 15:52:00  22165.0
1356879  2015-11-30  2015-11-30 15:53:00  22165.0
1356880  2015-11-30  2015-11-30 15:54:00  22165.0
1356881  2015-11-30  2015-11-30 15:55:00  22165.0
1356882  2015-11-30  2015-11-30 15:56:00  22165.0
1356883  2015-11-30  2015-11-30 15:57:00  22165.0
1356884  2015-11-30  2015-11-30 15:58:00  22165.0
1356885  2015-11-30  2015-11-30 15:59:00  22165.0
1356886  2015-11-30  2015-11-30 16:00:00  22165.0
1356887  2015-11-30  2015-11-30 16:01:00  22165.0
1356888  2015-11-30  2015-11-30 16:02:00  22165.0
1356889  2015-11-30  2015-11-30 16:03:00  22165.0
1356890  2015-11-30  2015-11-30 16:04:00  22165.0
1356891  2015-11-30  2015-11-30 16:05:00  22165.0
1356892  2015-11-30  2015-11-30 16:06:00  22165.0
1356893  2015-11-30  2015-11-30 16:07:00  22165.0
1356894  2015-11-30  2015-11-30 16:08:00  22165.0
1356895  2015-11-30  2015-11-30 16:09:00  22165.0
1356896  2015-11-30  2015-11-30 16:10:00  22165.0
1356897  2015-11-30  2015-11-30 16:11:00  22165.0
1356898  2015-11-30  2015-11-30 16:12:00  22165.0
1356899  2015-11-30  2015-11-30 16:13:00  22165.0
1356900  2015-11-30  2015-11-30 16:14:00  22165.0

[1356901 rows x 3 columns]

In [28]:
df11 = pd.read_csv('C:\\Users\\Administrator\\Desktop\\mergehsi\\max2.csv')
df11

              trade_datetime    price
0        2013-05-02 09:14:00  22309.0
1        2013-05-02 09:15:00  22550.0
2        2013-05-02 09:16:00  22530.0
3        2013-05-02 09:17:00  22530.0
4        2013-05-02 09:18:00  22527.0
5        2013-05-02 09:19:00  22533.0
6        2013-05-02 09:20:00  22532.0
7        2013-05-02 09:21:00  22541.0
8        2013-05-02 09:22:00  22528.0
9        2013-05-02 09:23:00  22560.0
10       2013-05-02 09:24:00  22549.0
11       2013-05-02 09:25:00  22547.0
12       2013-05-02 09:26:00  22545.0
13       2013-05-02 09:27:00  22553.0
14       2013-05-02 09:28:00  22543.0
15       2013-05-02 09:29:00  22543.0
16       2013-05-02 09:30:00  22522.0
17       2013-05-02 09:31:00  22500.0
18       2013-05-02 09:32:00  22454.0
19       2013-05-02 09:33:00  22448.0
20       2013-05-02 09:34:00  22435.0
21       2013-05-02 09:35:00  22458.0
22       2013-05-02 09:36:00  22468.0
23       2013-05-02 09:37:00  22477.0
24       2013-05-02 09:38:00  22469.0
25       2013-05-02 09:39:00  22482.0
26       2013-05-02 09:40:00  22488.0
27       2013-05-02 09:41:00  22496.0
28       2013-05-02 09:42:00  22475.0
29       2013-05-02 09:43:00  22478.0
...                      ...      ...
1356871  2015-11-30 15:45:00  22035.0
1356872  2015-11-30 15:46:00  22034.0
1356873  2015-11-30 15:47:00  22016.0
1356874  2015-11-30 15:48:00  21986.0
1356875  2015-11-30 15:49:00  22003.0
1356876  2015-11-30 15:50:00  21992.0
1356877  2015-11-30 15:51:00  22005.0
1356878  2015-11-30 15:52:00  22020.0
1356879  2015-11-30 15:53:00  22014.0
1356880  2015-11-30 15:54:00  22006.0
1356881  2015-11-30 15:55:00  21995.0
1356882  2015-11-30 15:56:00  21972.0
1356883  2015-11-30 15:57:00  21952.0
1356884  2015-11-30 15:58:00  21918.0
1356885  2015-11-30 15:59:00  21983.0
1356886  2015-11-30 16:00:00  21952.0
1356887  2015-11-30 16:01:00  21936.0
1356888  2015-11-30 16:02:00  21922.0
1356889  2015-11-30 16:03:00  21926.0
1356890  2015-11-30 16:04:00  21917.0
1356891  2015-11-30 16:05:00  21898.0
1356892  2015-11-30 16:06:00  21907.0
1356893  2015-11-30 16:07:00  21900.0
1356894  2015-11-30 16:08:00  21903.0
1356895  2015-11-30 16:09:00  21902.0
1356896  2015-11-30 16:10:00  21908.0
1356897  2015-11-30 16:11:00  21921.0
1356898  2015-11-30 16:12:00  21917.0
1356899  2015-11-30 16:13:00  21916.0
1356900  2015-11-30 16:14:00  21909.0

[1356901 rows x 2 columns]

In [34]:
df12 = pd.read_csv('C:\\Users\\Administrator\\Desktop\\mergehsi\\price.csv')
df12

              trade_datetime  max2here_bydate
0        2013-05-02 09:14:00          22309.0
1        2013-05-02 09:15:00          22550.0
2        2013-05-02 09:16:00          22550.0
3        2013-05-02 09:17:00          22550.0
4        2013-05-02 09:18:00          22550.0
5        2013-05-02 09:19:00          22550.0
6        2013-05-02 09:20:00          22550.0
7        2013-05-02 09:21:00          22550.0
8        2013-05-02 09:22:00          22550.0
9        2013-05-02 09:23:00          22560.0
10       2013-05-02 09:24:00          22560.0
11       2013-05-02 09:25:00          22560.0
12       2013-05-02 09:26:00          22560.0
13       2013-05-02 09:27:00          22560.0
14       2013-05-02 09:28:00          22560.0
15       2013-05-02 09:29:00          22560.0
16       2013-05-02 09:30:00          22560.0
17       2013-05-02 09:31:00          22560.0
18       2013-05-02 09:32:00          22560.0
19       2013-05-02 09:33:00          22560.0
20       2013-05-02 09:34:00          22560.0
21       2013-05-02 09:35:00          22560.0
22       2013-05-02 09:36:00          22560.0
23       2013-05-02 09:37:00          22560.0
24       2013-05-02 09:38:00          22560.0
25       2013-05-02 09:39:00          22560.0
26       2013-05-02 09:40:00          22560.0
27       2013-05-02 09:41:00          22560.0
28       2013-05-02 09:42:00          22560.0
29       2013-05-02 09:43:00          22560.0
...                      ...              ...
1356871  2015-11-30 15:45:00          22165.0
1356872  2015-11-30 15:46:00          22165.0
1356873  2015-11-30 15:47:00          22165.0
1356874  2015-11-30 15:48:00          22165.0
1356875  2015-11-30 15:49:00          22165.0
1356876  2015-11-30 15:50:00          22165.0
1356877  2015-11-30 15:51:00          22165.0
1356878  2015-11-30 15:52:00          22165.0
1356879  2015-11-30 15:53:00          22165.0
1356880  2015-11-30 15:54:00          22165.0
1356881  2015-11-30 15:55:00          22165.0
1356882  2015-11-30 15:56:00          22165.0
1356883  2015-11-30 15:57:00          22165.0
1356884  2015-11-30 15:58:00          22165.0
1356885  2015-11-30 15:59:00          22165.0
1356886  2015-11-30 16:00:00          22165.0
1356887  2015-11-30 16:01:00          22165.0
1356888  2015-11-30 16:02:00          22165.0
1356889  2015-11-30 16:03:00          22165.0
1356890  2015-11-30 16:04:00          22165.0
1356891  2015-11-30 16:05:00          22165.0
1356892  2015-11-30 16:06:00          22165.0
1356893  2015-11-30 16:07:00          22165.0
1356894  2015-11-30 16:08:00          22165.0
1356895  2015-11-30 16:09:00          22165.0
1356896  2015-11-30 16:10:00          22165.0
1356897  2015-11-30 16:11:00          22165.0
1356898  2015-11-30 16:12:00          22165.0
1356899  2015-11-30 16:13:00          22165.0
1356900  2015-11-30 16:14:00          22165.0

[1356901 rows x 2 columns]

In [35]:
df12['dd2here'] = df11.price / df12.max2here_bydate - 1
df12

              trade_datetime  max2here_bydate   dd2here
0        2013-05-02 09:14:00          22309.0  0.000000
1        2013-05-02 09:15:00          22550.0  0.000000
2        2013-05-02 09:16:00          22550.0 -0.000887
3        2013-05-02 09:17:00          22550.0 -0.000887
4        2013-05-02 09:18:00          22550.0 -0.001020
5        2013-05-02 09:19:00          22550.0 -0.000754
6        2013-05-02 09:20:00          22550.0 -0.000798
7        2013-05-02 09:21:00          22550.0 -0.000399
8        2013-05-02 09:22:00          22550.0 -0.000976
9        2013-05-02 09:23:00          22560.0  0.000000
10       2013-05-02 09:24:00          22560.0 -0.000488
11       2013-05-02 09:25:00          22560.0 -0.000576
12       2013-05-02 09:26:00          22560.0 -0.000665
13       2013-05-02 09:27:00          22560.0 -0.000310
14       2013-05-02 09:28:00          22560.0 -0.000754
15       2013-05-02 09:29:00          22560.0 -0.000754
16       2013-05-02 09:30:00          22560.0 -0.001684
17       2013-05-02 09:31:00          22560.0 -0.002660
18       2013-05-02 09:32:00          22560.0 -0.004699
19       2013-05-02 09:33:00          22560.0 -0.004965
20       2013-05-02 09:34:00          22560.0 -0.005541
21       2013-05-02 09:35:00          22560.0 -0.004521
22       2013-05-02 09:36:00          22560.0 -0.004078
23       2013-05-02 09:37:00          22560.0 -0.003679
24       2013-05-02 09:38:00          22560.0 -0.004034
25       2013-05-02 09:39:00          22560.0 -0.003457
26       2013-05-02 09:40:00          22560.0 -0.003191
27       2013-05-02 09:41:00          22560.0 -0.002837
28       2013-05-02 09:42:00          22560.0 -0.003768
29       2013-05-02 09:43:00          22560.0 -0.003635
...                      ...              ...       ...
1356871  2015-11-30 15:45:00          22165.0 -0.005865
1356872  2015-11-30 15:46:00          22165.0 -0.005910
1356873  2015-11-30 15:47:00          22165.0 -0.006722
1356874  2015-11-30 15:48:00          22165.0 -0.008076
1356875  2015-11-30 15:49:00          22165.0 -0.007309
1356876  2015-11-30 15:50:00          22165.0 -0.007805
1356877  2015-11-30 15:51:00          22165.0 -0.007219
1356878  2015-11-30 15:52:00          22165.0 -0.006542
1356879  2015-11-30 15:53:00          22165.0 -0.006813
1356880  2015-11-30 15:54:00          22165.0 -0.007173
1356881  2015-11-30 15:55:00          22165.0 -0.007670
1356882  2015-11-30 15:56:00          22165.0 -0.008707
1356883  2015-11-30 15:57:00          22165.0 -0.009610
1356884  2015-11-30 15:58:00          22165.0 -0.011144
1356885  2015-11-30 15:59:00          22165.0 -0.008211
1356886  2015-11-30 16:00:00          22165.0 -0.009610
1356887  2015-11-30 16:01:00          22165.0 -0.010332
1356888  2015-11-30 16:02:00          22165.0 -0.010963
1356889  2015-11-30 16:03:00          22165.0 -0.010783
1356890  2015-11-30 16:04:00          22165.0 -0.011189
1356891  2015-11-30 16:05:00          22165.0 -0.012046
1356892  2015-11-30 16:06:00          22165.0 -0.011640
1356893  2015-11-30 16:07:00          22165.0 -0.011956
1356894  2015-11-30 16:08:00          22165.0 -0.011820
1356895  2015-11-30 16:09:00          22165.0 -0.011866
1356896  2015-11-30 16:10:00          22165.0 -0.011595
1356897  2015-11-30 16:11:00          22165.0 -0.011008
1356898  2015-11-30 16:12:00          22165.0 -0.011189
1356899  2015-11-30 16:13:00          22165.0 -0.011234
1356900  2015-11-30 16:14:00          22165.0 -0.011550

[1356901 rows x 3 columns]

In [37]:
df12.index = df12.trade_datetime
df12

                          trade_datetime  max2here_bydate   dd2here    price
trade_datetime
2013-05-02 09:14:00  2013-05-02 09:14:00          22309.0  0.000000  22309.0
2013-05-02 09:15:00  2013-05-02 09:15:00          22550.0  0.000000  22550.0
2013-05-02 09:16:00  2013-05-02 09:16:00          22550.0 -0.000887  22530.0
2013-05-02 09:17:00  2013-05-02 09:17:00          22550.0 -0.000887  22530.0
2013-05-02 09:18:00  2013-05-02 09:18:00          22550.0 -0.001020  22527.0
2013-05-02 09:19:00  2013-05-02 09:19:00          22550.0 -0.000754  22533.0
2013-05-02 09:20:00  2013-05-02 09:20:00          22550.0 -0.000798  22532.0
2013-05-02 09:21:00  2013-05-02 09:21:00          22550.0 -0.000399  22541.0
2013-05-02 09:22:00  2013-05-02 09:22:00          22550.0 -0.000976  22528.0
2013-05-02 09:23:00  2013-05-02 09:23:00          22560.0  0.000000  22560.0
2013-05-02 09:24:00  2013-05-02 09:24:00          22560.0 -0.000488  22549.0
2013-05-02 09:25:00  2013-05-02 09:25:00          22560.0 -0.000576  22547.0
2013-05-02 09:26:00  2013-05-02 09:26:00          22560.0 -0.000665  22545.0
2013-05-02 09:27:00  2013-05-02 09:27:00          22560.0 -0.000310  22553.0
2013-05-02 09:28:00  2013-05-02 09:28:00          22560.0 -0.000754  22543.0
2013-05-02 09:29:00  2013-05-02 09:29:00          22560.0 -0.000754  22543.0
2013-05-02 09:30:00  2013-05-02 09:30:00          22560.0 -0.001684  22522.0
2013-05-02 09:31:00  2013-05-02 09:31:00          22560.0 -0.002660  22500.0
2013-05-02 09:32:00  2013-05-02 09:32:00          22560.0 -0.004699  22454.0
2013-05-02 09:33:00  2013-05-02 09:33:00          22560.0 -0.004965  22448.0
2013-05-02 09:34:00  2013-05-02 09:34:00          22560.0 -0.005541  22435.0
2013-05-02 09:35:00  2013-05-02 09:35:00          22560.0 -0.004521  22458.0
2013-05-02 09:36:00  2013-05-02 09:36:00          22560.0 -0.004078  22468.0
2013-05-02 09:37:00  2013-05-02 09:37:00          22560.0 -0.003679  22477.0
2013-05-02 09:38:00  2013-05-02 09:38:00          22560.0 -0.004034  22469.0
2013-05-02 09:39:00  2013-05-02 09:39:00          22560.0 -0.003457  22482.0
2013-05-02 09:40:00  2013-05-02 09:40:00          22560.0 -0.003191  22488.0
2013-05-02 09:41:00  2013-05-02 09:41:00          22560.0 -0.002837  22496.0
2013-05-02 09:42:00  2013-05-02 09:42:00          22560.0 -0.003768  22475.0
2013-05-02 09:43:00  2013-05-02 09:43:00          22560.0 -0.003635  22478.0
...                                  ...              ...       ...      ...
2015-11-30 15:45:00  2015-11-30 15:45:00          22165.0 -0.005865  22035.0
2015-11-30 15:46:00  2015-11-30 15:46:00          22165.0 -0.005910  22034.0
2015-11-30 15:47:00  2015-11-30 15:47:00          22165.0 -0.006722  22016.0
2015-11-30 15:48:00  2015-11-30 15:48:00          22165.0 -0.008076  21986.0
2015-11-30 15:49:00  2015-11-30 15:49:00          22165.0 -0.007309  22003.0
2015-11-30 15:50:00  2015-11-30 15:50:00          22165.0 -0.007805  21992.0
2015-11-30 15:51:00  2015-11-30 15:51:00          22165.0 -0.007219  22005.0
2015-11-30 15:52:00  2015-11-30 15:52:00          22165.0 -0.006542  22020.0
2015-11-30 15:53:00  2015-11-30 15:53:00          22165.0 -0.006813  22014.0
2015-11-30 15:54:00  2015-11-30 15:54:00          22165.0 -0.007173  22006.0
2015-11-30 15:55:00  2015-11-30 15:55:00          22165.0 -0.007670  21995.0
2015-11-30 15:56:00  2015-11-30 15:56:00          22165.0 -0.008707  21972.0
2015-11-30 15:57:00  2015-11-30 15:57:00          22165.0 -0.009610  21952.0
2015-11-30 15:58:00  2015-11-30 15:58:00          22165.0 -0.011144  21918.0
2015-11-30 15:59:00  2015-11-30 15:59:00          22165.0 -0.008211  21983.0
2015-11-30 16:00:00  2015-11-30 16:00:00          22165.0 -0.009610  21952.0
2015-11-30 16:01:00  2015-11-30 16:01:00          22165.0 -0.010332  21936.0
2015-11-30 16:02:00  2015-11-30 16:02:00          22165.0 -0.010963  21922.0
2015-11-30 16:03:00  2015-11-30 16:03:00          22165.0 -0.010783  21926.0
2015-11-30 16:04:00  2015-11-30 16:04:00          22165.0 -0.011189  21917.0
2015-11-30 16:05:00  2015-11-30 16:05:00          22165.0 -0.012046  21898.0
2015-11-30 16:06:00  2015-11-30 16:06:00          22165.0 -0.011640  21907.0
2015-11-30 16:07:00  2015-11-30 16:07:00          22165.0 -0.011956  21900.0
2015-11-30 16:08:00  2015-11-30 16:08:00          22165.0 -0.011820  21903.0
2015-11-30 16:09:00  2015-11-30 16:09:00          22165.0 -0.011866  21902.0
2015-11-30 16:10:00  2015-11-30 16:10:00          22165.0 -0.011595  21908.0
2015-11-30 16:11:00  2015-11-30 16:11:00          22165.0 -0.011008  21921.0
2015-11-30 16:12:00  2015-11-30 16:12:00          22165.0 -0.011189  21917.0
2015-11-30 16:13:00  2015-11-30 16:13:00          22165.0 -0.011234  21916.0
2015-11-30 16:14:00  2015-11-30 16:14:00          22165.0 -0.011550  21909.0

[1356901 rows x 4 columns]

In [38]:
df12.drop(['trade_datetime'],axis=1,inplace=True)
df12

                     max2here_bydate   dd2here    price
trade_datetime
2013-05-02 09:14:00          22309.0  0.000000  22309.0
2013-05-02 09:15:00          22550.0  0.000000  22550.0
2013-05-02 09:16:00          22550.0 -0.000887  22530.0
2013-05-02 09:17:00          22550.0 -0.000887  22530.0
2013-05-02 09:18:00          22550.0 -0.001020  22527.0
2013-05-02 09:19:00          22550.0 -0.000754  22533.0
2013-05-02 09:20:00          22550.0 -0.000798  22532.0
2013-05-02 09:21:00          22550.0 -0.000399  22541.0
2013-05-02 09:22:00          22550.0 -0.000976  22528.0
2013-05-02 09:23:00          22560.0  0.000000  22560.0
2013-05-02 09:24:00          22560.0 -0.000488  22549.0
2013-05-02 09:25:00          22560.0 -0.000576  22547.0
2013-05-02 09:26:00          22560.0 -0.000665  22545.0
2013-05-02 09:27:00          22560.0 -0.000310  22553.0
2013-05-02 09:28:00          22560.0 -0.000754  22543.0
2013-05-02 09:29:00          22560.0 -0.000754  22543.0
2013-05-02 09:30:00          22560.0 -0.001684  22522.0
2013-05-02 09:31:00          22560.0 -0.002660  22500.0
2013-05-02 09:32:00          22560.0 -0.004699  22454.0
2013-05-02 09:33:00          22560.0 -0.004965  22448.0
2013-05-02 09:34:00          22560.0 -0.005541  22435.0
2013-05-02 09:35:00          22560.0 -0.004521  22458.0
2013-05-02 09:36:00          22560.0 -0.004078  22468.0
2013-05-02 09:37:00          22560.0 -0.003679  22477.0
2013-05-02 09:38:00          22560.0 -0.004034  22469.0
2013-05-02 09:39:00          22560.0 -0.003457  22482.0
2013-05-02 09:40:00          22560.0 -0.003191  22488.0
2013-05-02 09:41:00          22560.0 -0.002837  22496.0
2013-05-02 09:42:00          22560.0 -0.003768  22475.0
2013-05-02 09:43:00          22560.0 -0.003635  22478.0
...                              ...       ...      ...
2015-11-30 15:45:00          22165.0 -0.005865  22035.0
2015-11-30 15:46:00          22165.0 -0.005910  22034.0
2015-11-30 15:47:00          22165.0 -0.006722  22016.0
2015-11-30 15:48:00          22165.0 -0.008076  21986.0
2015-11-30 15:49:00          22165.0 -0.007309  22003.0
2015-11-30 15:50:00          22165.0 -0.007805  21992.0
2015-11-30 15:51:00          22165.0 -0.007219  22005.0
2015-11-30 15:52:00          22165.0 -0.006542  22020.0
2015-11-30 15:53:00          22165.0 -0.006813  22014.0
2015-11-30 15:54:00          22165.0 -0.007173  22006.0
2015-11-30 15:55:00          22165.0 -0.007670  21995.0
2015-11-30 15:56:00          22165.0 -0.008707  21972.0
2015-11-30 15:57:00          22165.0 -0.009610  21952.0
2015-11-30 15:58:00          22165.0 -0.011144  21918.0
2015-11-30 15:59:00          22165.0 -0.008211  21983.0
2015-11-30 16:00:00          22165.0 -0.009610  21952.0
2015-11-30 16:01:00          22165.0 -0.010332  21936.0
2015-11-30 16:02:00          22165.0 -0.010963  21922.0
2015-11-30 16:03:00          22165.0 -0.010783  21926.0
2015-11-30 16:04:00          22165.0 -0.011189  21917.0
2015-11-30 16:05:00          22165.0 -0.012046  21898.0
2015-11-30 16:06:00          22165.0 -0.011640  21907.0
2015-11-30 16:07:00          22165.0 -0.011956  21900.0
2015-11-30 16:08:00          22165.0 -0.011820  21903.0
2015-11-30 16:09:00          22165.0 -0.011866  21902.0
2015-11-30 16:10:00          22165.0 -0.011595  21908.0
2015-11-30 16:11:00          22165.0 -0.011008  21921.0
2015-11-30 16:12:00          22165.0 -0.011189  21917.0
2015-11-30 16:13:00          22165.0 -0.011234  21916.0
2015-11-30 16:14:00          22165.0 -0.011550  21909.0

[1356901 rows x 3 columns]

In [39]:
df12.to_hdf('drowdownall.h5','drow')

In [36]:
df12['price'] = df11.price
df12

              trade_datetime  max2here_bydate   dd2here    price
0        2013-05-02 09:14:00          22309.0  0.000000  22309.0
1        2013-05-02 09:15:00          22550.0  0.000000  22550.0
2        2013-05-02 09:16:00          22550.0 -0.000887  22530.0
3        2013-05-02 09:17:00          22550.0 -0.000887  22530.0
4        2013-05-02 09:18:00          22550.0 -0.001020  22527.0
5        2013-05-02 09:19:00          22550.0 -0.000754  22533.0
6        2013-05-02 09:20:00          22550.0 -0.000798  22532.0
7        2013-05-02 09:21:00          22550.0 -0.000399  22541.0
8        2013-05-02 09:22:00          22550.0 -0.000976  22528.0
9        2013-05-02 09:23:00          22560.0  0.000000  22560.0
10       2013-05-02 09:24:00          22560.0 -0.000488  22549.0
11       2013-05-02 09:25:00          22560.0 -0.000576  22547.0
12       2013-05-02 09:26:00          22560.0 -0.000665  22545.0
13       2013-05-02 09:27:00          22560.0 -0.000310  22553.0
14       2013-05-02 09:28:00          22560.0 -0.000754  22543.0
15       2013-05-02 09:29:00          22560.0 -0.000754  22543.0
16       2013-05-02 09:30:00          22560.0 -0.001684  22522.0
17       2013-05-02 09:31:00          22560.0 -0.002660  22500.0
18       2013-05-02 09:32:00          22560.0 -0.004699  22454.0
19       2013-05-02 09:33:00          22560.0 -0.004965  22448.0
20       2013-05-02 09:34:00          22560.0 -0.005541  22435.0
21       2013-05-02 09:35:00          22560.0 -0.004521  22458.0
22       2013-05-02 09:36:00          22560.0 -0.004078  22468.0
23       2013-05-02 09:37:00          22560.0 -0.003679  22477.0
24       2013-05-02 09:38:00          22560.0 -0.004034  22469.0
25       2013-05-02 09:39:00          22560.0 -0.003457  22482.0
26       2013-05-02 09:40:00          22560.0 -0.003191  22488.0
27       2013-05-02 09:41:00          22560.0 -0.002837  22496.0
28       2013-05-02 09:42:00          22560.0 -0.003768  22475.0
29       2013-05-02 09:43:00          22560.0 -0.003635  22478.0
...                      ...              ...       ...      ...
1356871  2015-11-30 15:45:00          22165.0 -0.005865  22035.0
1356872  2015-11-30 15:46:00          22165.0 -0.005910  22034.0
1356873  2015-11-30 15:47:00          22165.0 -0.006722  22016.0
1356874  2015-11-30 15:48:00          22165.0 -0.008076  21986.0
1356875  2015-11-30 15:49:00          22165.0 -0.007309  22003.0
1356876  2015-11-30 15:50:00          22165.0 -0.007805  21992.0
1356877  2015-11-30 15:51:00          22165.0 -0.007219  22005.0
1356878  2015-11-30 15:52:00          22165.0 -0.006542  22020.0
1356879  2015-11-30 15:53:00          22165.0 -0.006813  22014.0
1356880  2015-11-30 15:54:00          22165.0 -0.007173  22006.0
1356881  2015-11-30 15:55:00          22165.0 -0.007670  21995.0
1356882  2015-11-30 15:56:00          22165.0 -0.008707  21972.0
1356883  2015-11-30 15:57:00          22165.0 -0.009610  21952.0
1356884  2015-11-30 15:58:00          22165.0 -0.011144  21918.0
1356885  2015-11-30 15:59:00          22165.0 -0.008211  21983.0
1356886  2015-11-30 16:00:00          22165.0 -0.009610  21952.0
1356887  2015-11-30 16:01:00          22165.0 -0.010332  21936.0
1356888  2015-11-30 16:02:00          22165.0 -0.010963  21922.0
1356889  2015-11-30 16:03:00          22165.0 -0.010783  21926.0
1356890  2015-11-30 16:04:00          22165.0 -0.011189  21917.0
1356891  2015-11-30 16:05:00          22165.0 -0.012046  21898.0
1356892  2015-11-30 16:06:00          22165.0 -0.011640  21907.0
1356893  2015-11-30 16:07:00          22165.0 -0.011956  21900.0
1356894  2015-11-30 16:08:00          22165.0 -0.011820  21903.0
1356895  2015-11-30 16:09:00          22165.0 -0.011866  21902.0
1356896  2015-11-30 16:10:00          22165.0 -0.011595  21908.0
1356897  2015-11-30 16:11:00          22165.0 -0.011008  21921.0
1356898  2015-11-30 16:12:00          22165.0 -0.011189  21917.0
1356899  2015-11-30 16:13:00          22165.0 -0.011234  21916.0
1356900  2015-11-30 16:14:00          22165.0 -0.011550  21909.0

[1356901 rows x 4 columns]

In [9]:
df12.to_hdf('dd2here.h5','dd')

In [14]:
df12.index = pd.to_datetime(df12.index)

In [15]:
df12.index

DatetimeIndex(['2013-05-02 09:14:00', '2013-05-02 09:15:00',
               '2013-05-02 09:16:00', '2013-05-02 09:17:00',
               '2013-05-02 09:18:00', '2013-05-02 09:19:00',
               '2013-05-02 09:20:00', '2013-05-02 09:21:00',
               '2013-05-02 09:22:00', '2013-05-02 09:23:00',
               ...
               '2015-11-30 16:05:00', '2015-11-30 16:06:00',
               '2015-11-30 16:07:00', '2015-11-30 16:08:00',
               '2015-11-30 16:09:00', '2015-11-30 16:10:00',
               '2015-11-30 16:11:00', '2015-11-30 16:12:00',
               '2015-11-30 16:13:00', '2015-11-30 16:14:00'],
              dtype='datetime64[ns]', name='trade_datetime', length=1356901, freq=None)

In [17]:
sr11 = df12.groupby(df12.index.date).dd2here.min()

In [18]:
sr11

2013-05-02   -0.012411
2013-05-03   -0.021591
2013-05-04         NaN
2013-05-05         NaN
2013-05-06   -0.020178
2013-05-07   -0.018727
2013-05-08   -0.013140
2013-05-09   -0.012063
2013-05-10   -0.017706
2013-05-11         NaN
2013-05-12         NaN
2013-05-13   -0.020475
2013-05-14   -0.021016
2013-05-15   -0.017696
2013-05-16   -0.014655
2013-05-17         NaN
2013-05-18         NaN
2013-05-19         NaN
2013-05-20   -0.013274
2013-05-21   -0.014253
2013-05-22   -0.026244
2013-05-23   -0.037836
2013-05-24   -0.024154
2013-05-25         NaN
2013-05-26         NaN
2013-05-27   -0.016388
2013-05-28   -0.016642
2013-05-29   -0.026475
2013-05-30   -0.027333
2013-05-31   -0.010627
                ...
2015-11-01         NaN
2015-11-02   -0.012228
2015-11-03   -0.005162
2015-11-04   -0.017980
2015-11-05   -0.008206
2015-11-06   -0.008425
2015-11-07         NaN
2015-11-08         NaN
2015-11-09   -0.014478
2015-11-10   -0.009172
2015-11-11   -0.006915
2015-11-12   -0.004566
2015-11-13   -0.011633
2015-11-14         NaN
2015-11-15         NaN
2015-11-16   -0.004580
2015-11-17   -0.010320
2015-11-18   -0.009578
2015-11-19   -0.005322
2015-11-20   -0.005234
2015-11-21         NaN
2015-11-22         NaN
2015-11-23   -0.008371
2015-11-24   -0.012731
2015-11-25   -0.009587
2015-11-26   -0.017552
2015-11-27   -0.026225
2015-11-28         NaN
2015-11-29         NaN
2015-11-30   -0.012046
Name: dd2here, Length: 943, dtype: float64

In [20]:
sr11 = sr11.dropna()
sr11

2013-05-02   -0.012411
2013-05-03   -0.021591
2013-05-06   -0.020178
2013-05-07   -0.018727
2013-05-08   -0.013140
2013-05-09   -0.012063
2013-05-10   -0.017706
2013-05-13   -0.020475
2013-05-14   -0.021016
2013-05-15   -0.017696
2013-05-16   -0.014655
2013-05-20   -0.013274
2013-05-21   -0.014253
2013-05-22   -0.026244
2013-05-23   -0.037836
2013-05-24   -0.024154
2013-05-27   -0.016388
2013-05-28   -0.016642
2013-05-29   -0.026475
2013-05-30   -0.027333
2013-05-31   -0.010627
2013-06-03   -0.014884
2013-06-04   -0.009356
2013-06-05   -0.011311
2013-06-06   -0.008974
2013-06-07   -0.016837
2013-06-10   -0.009568
2013-06-11   -0.014836
2013-06-13   -0.021691
2013-06-14   -0.009029
                ...
2015-10-19   -0.006855
2015-10-20   -0.008691
2015-10-22   -0.005204
2015-10-23   -0.007131
2015-10-26   -0.015930
2015-10-27   -0.009815
2015-10-28   -0.008604
2015-10-29   -0.013485
2015-10-30   -0.009199
2015-11-02   -0.012228
2015-11-03   -0.005162
2015-11-04   -0.017980
2015-11-05   -0.008206
2015-11-06   -0.008425
2015-11-09   -0.014478
2015-11-10   -0.009172
2015-11-11   -0.006915
2015-11-12   -0.004566
2015-11-13   -0.011633
2015-11-16   -0.004580
2015-11-17   -0.010320
2015-11-18   -0.009578
2015-11-19   -0.005322
2015-11-20   -0.005234
2015-11-23   -0.008371
2015-11-24   -0.012731
2015-11-25   -0.009587
2015-11-26   -0.017552
2015-11-27   -0.026225
2015-11-30   -0.012046
Name: dd2here, Length: 637, dtype: float64

In [22]:
df13 = pd.DataFrame([sr11])
df13 = df13.T
df13

             dd2here
2013-05-02 -0.012411
2013-05-03 -0.021591
2013-05-06 -0.020178
2013-05-07 -0.018727
2013-05-08 -0.013140
2013-05-09 -0.012063
2013-05-10 -0.017706
2013-05-13 -0.020475
2013-05-14 -0.021016
2013-05-15 -0.017696
2013-05-16 -0.014655
2013-05-20 -0.013274
2013-05-21 -0.014253
2013-05-22 -0.026244
2013-05-23 -0.037836
2013-05-24 -0.024154
2013-05-27 -0.016388
2013-05-28 -0.016642
2013-05-29 -0.026475
2013-05-30 -0.027333
2013-05-31 -0.010627
2013-06-03 -0.014884
2013-06-04 -0.009356
2013-06-05 -0.011311
2013-06-06 -0.008974
2013-06-07 -0.016837
2013-06-10 -0.009568
2013-06-11 -0.014836
2013-06-13 -0.021691
2013-06-14 -0.009029
...              ...
2015-10-19 -0.006855
2015-10-20 -0.008691
2015-10-22 -0.005204
2015-10-23 -0.007131
2015-10-26 -0.015930
2015-10-27 -0.009815
2015-10-28 -0.008604
2015-10-29 -0.013485
2015-10-30 -0.009199
2015-11-02 -0.012228
2015-11-03 -0.005162
2015-11-04 -0.017980
2015-11-05 -0.008206
2015-11-06 -0.008425
2015-11-09 -0.014478
2015-11-10 -0.009172
2015-11-11 -0.006915
2015-11-12 -0.004566
2015-11-13 -0.011633
2015-11-16 -0.004580
2015-11-17 -0.010320
2015-11-18 -0.009578
2015-11-19 -0.005322
2015-11-20 -0.005234
2015-11-23 -0.008371
2015-11-24 -0.012731
2015-11-25 -0.009587
2015-11-26 -0.017552
2015-11-27 -0.026225
2015-11-30 -0.012046

[637 rows x 1 columns]

In [25]:
df13['maxdrawdown'] = df13.dd2here * (-1)
df13.drop('dd2here',axis=1,inplace=True)
df13

            maxdrawdown
2013-05-02     0.012411
2013-05-03     0.021591
2013-05-06     0.020178
2013-05-07     0.018727
2013-05-08     0.013140
2013-05-09     0.012063
2013-05-10     0.017706
2013-05-13     0.020475
2013-05-14     0.021016
2013-05-15     0.017696
2013-05-16     0.014655
2013-05-20     0.013274
2013-05-21     0.014253
2013-05-22     0.026244
2013-05-23     0.037836
2013-05-24     0.024154
2013-05-27     0.016388
2013-05-28     0.016642
2013-05-29     0.026475
2013-05-30     0.027333
2013-05-31     0.010627
2013-06-03     0.014884
2013-06-04     0.009356
2013-06-05     0.011311
2013-06-06     0.008974
2013-06-07     0.016837
2013-06-10     0.009568
2013-06-11     0.014836
2013-06-13     0.021691
2013-06-14     0.009029
...                 ...
2015-10-19     0.006855
2015-10-20     0.008691
2015-10-22     0.005204
2015-10-23     0.007131
2015-10-26     0.015930
2015-10-27     0.009815
2015-10-28     0.008604
2015-10-29     0.013485
2015-10-30     0.009199
2015-11-02     0.012228
2015-11-03     0.005162
2015-11-04     0.017980
2015-11-05     0.008206
2015-11-06     0.008425
2015-11-09     0.014478
2015-11-10     0.009172
2015-11-11     0.006915
2015-11-12     0.004566
2015-11-13     0.011633
2015-11-16     0.004580
2015-11-17     0.010320
2015-11-18     0.009578
2015-11-19     0.005322
2015-11-20     0.005234
2015-11-23     0.008371
2015-11-24     0.012731
2015-11-25     0.009587
2015-11-26     0.017552
2015-11-27     0.026225
2015-11-30     0.012046

[637 rows x 1 columns]

In [26]:
df13.to_hdf('maxdrawdown.h5','draw')