In [13]:
import pandas as pd 
import math
%matplotlib inline

In [60]:
df1 = pd.read_csv('C:/Users/Administrator/Desktop/Work/data/CTA_algo/result/M1709.csv')
df1

   Unnamed: 0  close   volume
0    2017/3/1   2947   601306
1    2017/3/2   2979   419606
2    2017/3/3   2962   389060
3    2017/3/6   2983   521294
4    2017/3/7   2964   486584
5    2017/3/8   2924   563766
6    2017/3/9   2922   450122
7   2017/3/10   2878   694594
8   2017/3/13   2890   464386
9   2017/3/14   2865   558372
10  2017/3/15   2884   702714
11  2017/3/16   2889   553812
12  2017/3/17   2875   612986
13  2017/3/20   2907   959790
14  2017/3/21   2877  1063812
15  2017/3/22   2875  1117262
16  2017/3/23   2827  1781858
17  2017/3/24   2813  1249086
18  2017/3/27   2807  1193478
19  2017/3/28   2801  1060160
20  2017/3/29   2816  1217214
21  2017/3/30   2785  1357636
22  2017/3/31   2780   790108
23   2017/4/5   2755  1049690
24   2017/4/6   2754  1151572
25   2017/4/7   2729  1305006
26  2017/4/10   2762  1442414
27  2017/4/11   2762  1049786
28  2017/4/12   2783  1824958
29  2017/4/13   2836  1558500
..        ...    ...      ...
68  2017/6/12   2677  1291808
69  2017/6/13   2663  1148508
70  2017/6/14   2680   984284
71  2017/6/15   2664  1232390
72  2017/6/16   2687  1379718
73  2017/6/19   2709  1558108
74  2017/6/20   2711   915068
75  2017/6/21   2696   898338
76  2017/6/22   2658  1203530
77  2017/6/23   2645  1026780
78  2017/6/26   2657   877444
79  2017/6/27   2663   691016
80  2017/6/28   2658   970046
81  2017/6/29   2665   931290
82  2017/6/30   2655  1357794
83   2017/7/3   2780  1825034
84   2017/7/4   2798  1570472
85   2017/7/5   2792   895288
86   2017/7/6   2815  1542188
87   2017/7/7   2834   893160
88  2017/7/10   2919  2000796
89  2017/7/11   2930  1597096
90  2017/7/12   2914  1004978
91  2017/7/13   2849  1543238
92  2017/7/14   2803  1316922
93  2017/7/17   2810   905190
94  2017/7/18   2824   818614
95  2017/7/19   2826   795318
96  2017/7/20   2842   712538
97  2017/7/21   2869   917814

[98 rows x 3 columns]

In [61]:
df1.columns = ['date','close','volume']

In [62]:
df1.index = df1.date

In [63]:
df1.drop('date',axis=1,inplace=True)
df1

           close   volume
date
2017/3/1    2947   601306
2017/3/2    2979   419606
2017/3/3    2962   389060
2017/3/6    2983   521294
2017/3/7    2964   486584
2017/3/8    2924   563766
2017/3/9    2922   450122
2017/3/10   2878   694594
2017/3/13   2890   464386
2017/3/14   2865   558372
2017/3/15   2884   702714
2017/3/16   2889   553812
2017/3/17   2875   612986
2017/3/20   2907   959790
2017/3/21   2877  1063812
2017/3/22   2875  1117262
2017/3/23   2827  1781858
2017/3/24   2813  1249086
2017/3/27   2807  1193478
2017/3/28   2801  1060160
2017/3/29   2816  1217214
2017/3/30   2785  1357636
2017/3/31   2780   790108
2017/4/5    2755  1049690
2017/4/6    2754  1151572
2017/4/7    2729  1305006
2017/4/10   2762  1442414
2017/4/11   2762  1049786
2017/4/12   2783  1824958
2017/4/13   2836  1558500
...          ...      ...
2017/6/12   2677  1291808
2017/6/13   2663  1148508
2017/6/14   2680   984284
2017/6/15   2664  1232390
2017/6/16   2687  1379718
2017/6/19   2709  1558108
2017/6/20   2711   915068
2017/6/21   2696   898338
2017/6/22   2658  1203530
2017/6/23   2645  1026780
2017/6/26   2657   877444
2017/6/27   2663   691016
2017/6/28   2658   970046
2017/6/29   2665   931290
2017/6/30   2655  1357794
2017/7/3    2780  1825034
2017/7/4    2798  1570472
2017/7/5    2792   895288
2017/7/6    2815  1542188
2017/7/7    2834   893160
2017/7/10   2919  2000796
2017/7/11   2930  1597096
2017/7/12   2914  1004978
2017/7/13   2849  1543238
2017/7/14   2803  1316922
2017/7/17   2810   905190
2017/7/18   2824   818614
2017/7/19   2826   795318
2017/7/20   2842   712538
2017/7/21   2869   917814

[98 rows x 2 columns]

In [64]:
df1.to_excel('m1709_volume.xlsx')

In [65]:
df2 = pd.read_csv('C:/Users/Administrator/Desktop/Work/data/CTA_algo/result/m1709_mins.csv')
df2

            Unnamed: 0  close trading_date
0      2017/2/28 21:01   2916     2017/3/1
1      2017/2/28 21:02   2918     2017/3/1
2      2017/2/28 21:03   2920     2017/3/1
3      2017/2/28 21:04   2920     2017/3/1
4      2017/2/28 21:05   2919     2017/3/1
5      2017/2/28 21:06   2922     2017/3/1
6      2017/2/28 21:07   2922     2017/3/1
7      2017/2/28 21:08   2922     2017/3/1
8      2017/2/28 21:09   2922     2017/3/1
9      2017/2/28 21:10   2922     2017/3/1
10     2017/2/28 21:11   2922     2017/3/1
11     2017/2/28 21:12   2923     2017/3/1
12     2017/2/28 21:13   2921     2017/3/1
13     2017/2/28 21:14   2920     2017/3/1
14     2017/2/28 21:15   2920     2017/3/1
15     2017/2/28 21:16   2922     2017/3/1
16     2017/2/28 21:17   2922     2017/3/1
17     2017/2/28 21:18   2921     2017/3/1
18     2017/2/28 21:19   2921     2017/3/1
19     2017/2/28 21:20   2921     2017/3/1
20     2017/2/28 21:21   2922     2017/3/1
21     2017/2/28 21:22   2922     2017/3/1
22     2017/2/28 21:23   2923     2017/3/1
23     2017/2/28 21:24   2925     2017/3/1
24     2017/2/28 21:25   2924     2017/3/1
25     2017/2/28 21:26   2925     2017/3/1
26     2017/2/28 21:27   2925     2017/3/1
27     2017/2/28 21:28   2924     2017/3/1
28     2017/2/28 21:29   2925     2017/3/1
29     2017/2/28 21:30   2924     2017/3/1
...                ...    ...          ...
36270  2017/7/21 14:31   2864    2017/7/21
36271  2017/7/21 14:32   2862    2017/7/21
36272  2017/7/21 14:33   2864    2017/7/21
36273  2017/7/21 14:34   2864    2017/7/21
36274  2017/7/21 14:35   2864    2017/7/21
36275  2017/7/21 14:36   2864    2017/7/21
36276  2017/7/21 14:37   2864    2017/7/21
36277  2017/7/21 14:38   2864    2017/7/21
36278  2017/7/21 14:39   2866    2017/7/21
36279  2017/7/21 14:40   2867    2017/7/21
36280  2017/7/21 14:41   2865    2017/7/21
36281  2017/7/21 14:42   2865    2017/7/21
36282  2017/7/21 14:43   2865    2017/7/21
36283  2017/7/21 14:44   2865    2017/7/21
36284  2017/7/21 14:45   2864    2017/7/21
36285  2017/7/21 14:46   2865    2017/7/21
36286  2017/7/21 14:47   2865    2017/7/21
36287  2017/7/21 14:48   2867    2017/7/21
36288  2017/7/21 14:49   2866    2017/7/21
36289  2017/7/21 14:50   2867    2017/7/21
36290  2017/7/21 14:51   2867    2017/7/21
36291  2017/7/21 14:52   2867    2017/7/21
36292  2017/7/21 14:53   2868    2017/7/21
36293  2017/7/21 14:54   2868    2017/7/21
36294  2017/7/21 14:55   2869    2017/7/21
36295  2017/7/21 14:56   2870    2017/7/21
36296  2017/7/21 14:57   2870    2017/7/21
36297  2017/7/21 14:58   2869    2017/7/21
36298  2017/7/21 14:59   2870    2017/7/21
36299  2017/7/21 15:00   2869    2017/7/21

[36300 rows x 3 columns]

In [66]:
df2.columns = ['datetime','close','day']

In [67]:
df2.index = df2.day
df2

                  datetime  close        day
day
2017/3/1   2017/2/28 21:01   2916   2017/3/1
2017/3/1   2017/2/28 21:02   2918   2017/3/1
2017/3/1   2017/2/28 21:03   2920   2017/3/1
2017/3/1   2017/2/28 21:04   2920   2017/3/1
2017/3/1   2017/2/28 21:05   2919   2017/3/1
2017/3/1   2017/2/28 21:06   2922   2017/3/1
2017/3/1   2017/2/28 21:07   2922   2017/3/1
2017/3/1   2017/2/28 21:08   2922   2017/3/1
2017/3/1   2017/2/28 21:09   2922   2017/3/1
2017/3/1   2017/2/28 21:10   2922   2017/3/1
2017/3/1   2017/2/28 21:11   2922   2017/3/1
2017/3/1   2017/2/28 21:12   2923   2017/3/1
2017/3/1   2017/2/28 21:13   2921   2017/3/1
2017/3/1   2017/2/28 21:14   2920   2017/3/1
2017/3/1   2017/2/28 21:15   2920   2017/3/1
2017/3/1   2017/2/28 21:16   2922   2017/3/1
2017/3/1   2017/2/28 21:17   2922   2017/3/1
2017/3/1   2017/2/28 21:18   2921   2017/3/1
2017/3/1   2017/2/28 21:19   2921   2017/3/1
2017/3/1   2017/2/28 21:20   2921   2017/3/1
2017/3/1   2017/2/28 21:21   2922   2017/3/1
2017/3/1   2017/2/28 21:22   2922   2017/3/1
2017/3/1   2017/2/28 21:23   2923   2017/3/1
2017/3/1   2017/2/28 21:24   2925   2017/3/1
2017/3/1   2017/2/28 21:25   2924   2017/3/1
2017/3/1   2017/2/28 21:26   2925   2017/3/1
2017/3/1   2017/2/28 21:27   2925   2017/3/1
2017/3/1   2017/2/28 21:28   2924   2017/3/1
2017/3/1   2017/2/28 21:29   2925   2017/3/1
2017/3/1   2017/2/28 21:30   2924   2017/3/1
...                    ...    ...        ...
2017/7/21  2017/7/21 14:31   2864  2017/7/21
2017/7/21  2017/7/21 14:32   2862  2017/7/21
2017/7/21  2017/7/21 14:33   2864  2017/7/21
2017/7/21  2017/7/21 14:34   2864  2017/7/21
2017/7/21  2017/7/21 14:35   2864  2017/7/21
2017/7/21  2017/7/21 14:36   2864  2017/7/21
2017/7/21  2017/7/21 14:37   2864  2017/7/21
2017/7/21  2017/7/21 14:38   2864  2017/7/21
2017/7/21  2017/7/21 14:39   2866  2017/7/21
2017/7/21  2017/7/21 14:40   2867  2017/7/21
2017/7/21  2017/7/21 14:41   2865  2017/7/21
2017/7/21  2017/7/21 14:42   2865  2017/7/21
2017/7/21  2017/7/21 14:43   2865  2017/7/21
2017/7/21  2017/7/21 14:44   2865  2017/7/21
2017/7/21  2017/7/21 14:45   2864  2017/7/21
2017/7/21  2017/7/21 14:46   2865  2017/7/21
2017/7/21  2017/7/21 14:47   2865  2017/7/21
2017/7/21  2017/7/21 14:48   2867  2017/7/21
2017/7/21  2017/7/21 14:49   2866  2017/7/21
2017/7/21  2017/7/21 14:50   2867  2017/7/21
2017/7/21  2017/7/21 14:51   2867  2017/7/21
2017/7/21  2017/7/21 14:52   2867  2017/7/21
2017/7/21  2017/7/21 14:53   2868  2017/7/21
2017/7/21  2017/7/21 14:54   2868  2017/7/21
2017/7/21  2017/7/21 14:55   2869  2017/7/21
2017/7/21  2017/7/21 14:56   2870  2017/7/21
2017/7/21  2017/7/21 14:57   2870  2017/7/21
2017/7/21  2017/7/21 14:58   2869  2017/7/21
2017/7/21  2017/7/21 14:59   2870  2017/7/21
2017/7/21  2017/7/21 15:00   2869  2017/7/21

[36300 rows x 3 columns]

In [68]:
df2['ln_rtn'] = (df2.close / df2.close.shift(1)).apply(math.log)
df2.index = pd.to_datetime(df2.index)

In [69]:
df2.groupby(df2.index).apply(lambda x :x[x.close!=0])

                              datetime  close        day    ln_rtn
day        day
2017-03-01 2017-03-01  2017/2/28 21:01   2916   2017/3/1       NaN
           2017-03-01  2017/2/28 21:02   2918   2017/3/1  0.000686
           2017-03-01  2017/2/28 21:03   2920   2017/3/1  0.000685
           2017-03-01  2017/2/28 21:04   2920   2017/3/1  0.000000
           2017-03-01  2017/2/28 21:05   2919   2017/3/1 -0.000343
           2017-03-01  2017/2/28 21:06   2922   2017/3/1  0.001027
           2017-03-01  2017/2/28 21:07   2922   2017/3/1  0.000000
           2017-03-01  2017/2/28 21:08   2922   2017/3/1  0.000000
           2017-03-01  2017/2/28 21:09   2922   2017/3/1  0.000000
           2017-03-01  2017/2/28 21:10   2922   2017/3/1  0.000000
           2017-03-01  2017/2/28 21:11   2922   2017/3/1  0.000000
           2017-03-01  2017/2/28 21:12   2923   2017/3/1  0.000342
           2017-03-01  2017/2/28 21:13   2921   2017/3/1 -0.000684
           2017-03-01  2017/2/28 21:14   2920   2017/3/1 -0.000342
           2017-03-01  2017/2/28 21:15   2920   2017/3/1  0.000000
           2017-03-01  2017/2/28 21:16   2922   2017/3/1  0.000685
           2017-03-01  2017/2/28 21:17   2922   2017/3/1  0.000000
           2017-03-01  2017/2/28 21:18   2921   2017/3/1 -0.000342
           2017-03-01  2017/2/28 21:19   2921   2017/3/1  0.000000
           2017-03-01  2017/2/28 21:20   2921   2017/3/1  0.000000
           2017-03-01  2017/2/28 21:21   2922   2017/3/1  0.000342
           2017-03-01  2017/2/28 21:22   2922   2017/3/1  0.000000
           2017-03-01  2017/2/28 21:23   2923   2017/3/1  0.000342
           2017-03-01  2017/2/28 21:24   2925   2017/3/1  0.000684
           2017-03-01  2017/2/28 21:25   2924   2017/3/1 -0.000342
           2017-03-01  2017/2/28 21:26   2925   2017/3/1  0.000342
           2017-03-01  2017/2/28 21:27   2925   2017/3/1  0.000000
           2017-03-01  2017/2/28 21:28   2924   2017/3/1 -0.000342
           2017-03-01  2017/2/28 21:29   2925   2017/3/1  0.000342
           2017-03-01  2017/2/28 21:30   2924   2017/3/1 -0.000342
...                                ...    ...        ...       ...
2017-07-21 2017-07-21  2017/7/21 14:31   2864  2017/7/21  0.000000
           2017-07-21  2017/7/21 14:32   2862  2017/7/21 -0.000699
           2017-07-21  2017/7/21 14:33   2864  2017/7/21  0.000699
           2017-07-21  2017/7/21 14:34   2864  2017/7/21  0.000000
           2017-07-21  2017/7/21 14:35   2864  2017/7/21  0.000000
           2017-07-21  2017/7/21 14:36   2864  2017/7/21  0.000000
           2017-07-21  2017/7/21 14:37   2864  2017/7/21  0.000000
           2017-07-21  2017/7/21 14:38   2864  2017/7/21  0.000000
           2017-07-21  2017/7/21 14:39   2866  2017/7/21  0.000698
           2017-07-21  2017/7/21 14:40   2867  2017/7/21  0.000349
           2017-07-21  2017/7/21 14:41   2865  2017/7/21 -0.000698
           2017-07-21  2017/7/21 14:42   2865  2017/7/21  0.000000
           2017-07-21  2017/7/21 14:43   2865  2017/7/21  0.000000
           2017-07-21  2017/7/21 14:44   2865  2017/7/21  0.000000
           2017-07-21  2017/7/21 14:45   2864  2017/7/21 -0.000349
           2017-07-21  2017/7/21 14:46   2865  2017/7/21  0.000349
           2017-07-21  2017/7/21 14:47   2865  2017/7/21  0.000000
           2017-07-21  2017/7/21 14:48   2867  2017/7/21  0.000698
           2017-07-21  2017/7/21 14:49   2866  2017/7/21 -0.000349
           2017-07-21  2017/7/21 14:50   2867  2017/7/21  0.000349
           2017-07-21  2017/7/21 14:51   2867  2017/7/21  0.000000
           2017-07-21  2017/7/21 14:52   2867  2017/7/21  0.000000
           2017-07-21  2017/7/21 14:53   2868  2017/7/21  0.000349
           2017-07-21  2017/7/21 14:54   2868  2017/7/21  0.000000
           2017-07-21  2017/7/21 14:55   2869  2017/7/21  0.000349
           2017-07-21  2017/7/21 14:56   2870  2017/7/21  0.000348
           2017-07-21  2017/7/21 14:57   2870  2017/7/21  0.000000
           2017-07-21  2017/7/21 14:58   2869  2017/7/21 -0.000348
           2017-07-21  2017/7/21 14:59   2870  2017/7/21  0.000348
           2017-07-21  2017/7/21 15:00   2869  2017/7/21 -0.000348

[36300 rows x 4 columns]

In [70]:
sr1 = df2.groupby(df2.index).ln_rtn.std()
df3  = pd.DataFrame(sr1)
df3['annual_vol'] = df3.ln_rtn * math.sqrt(244)
df3

              ln_rtn  annual_vol
day
2017-03-01  0.000566    0.008842
2017-03-02  0.000542    0.008460
2017-03-03  0.000445    0.006953
2017-03-06  0.000473    0.007396
2017-03-07  0.000475    0.007419
2017-03-08  0.000432    0.006754
2017-03-09  0.000423    0.006612
2017-03-10  0.000521    0.008141
2017-03-13  0.000435    0.006794
2017-03-14  0.000446    0.006969
2017-03-15  0.000653    0.010204
2017-03-16  0.000516    0.008064
2017-03-17  0.000535    0.008357
2017-03-20  0.000599    0.009363
2017-03-21  0.000426    0.006648
2017-03-22  0.000517    0.008074
2017-03-23  0.000607    0.009482
2017-03-24  0.000531    0.008291
2017-03-27  0.000548    0.008563
2017-03-28  0.000495    0.007728
2017-03-29  0.000476    0.007429
2017-03-30  0.000468    0.007308
2017-03-31  0.000465    0.007265
2017-04-05  0.001107    0.017296
2017-04-06  0.000460    0.007190
2017-04-07  0.000505    0.007886
2017-04-10  0.000523    0.008177
2017-04-11  0.000456    0.007117
2017-04-12  0.000703    0.010987
2017-04-13  0.000580    0.009052
...              ...         ...
2017-06-12  0.000472    0.007373
2017-06-13  0.000470    0.007347
2017-06-14  0.000478    0.007466
2017-06-15  0.000491    0.007675
2017-06-16  0.000574    0.008960
2017-06-19  0.000620    0.009680
2017-06-20  0.000431    0.006728
2017-06-21  0.000500    0.007812
2017-06-22  0.000460    0.007183
2017-06-23  0.000476    0.007438
2017-06-26  0.000509    0.007948
2017-06-27  0.000436    0.006815
2017-06-28  0.000432    0.006747
2017-06-29  0.000430    0.006709
2017-06-30  0.000465    0.007267
2017-07-03  0.002327    0.036352
2017-07-04  0.000606    0.009461
2017-07-05  0.000494    0.007718
2017-07-06  0.000559    0.008738
2017-07-07  0.000516    0.008064
2017-07-10  0.000969    0.015134
2017-07-11  0.000637    0.009948
2017-07-12  0.000602    0.009398
2017-07-13  0.001077    0.016825
2017-07-14  0.000817    0.012758
2017-07-17  0.000560    0.008750
2017-07-18  0.000569    0.008890
2017-07-19  0.000592    0.009241
2017-07-20  0.000401    0.006264
2017-07-21  0.000566    0.008842

[98 rows x 2 columns]

In [71]:
df3.to_excel('m1709_dayli_vol.xlsx')