In [24]:
import pandas as pd
df = pd.read_hdf('C:\\Users\\Administrator\\Desktop\\Work\\data\\trade_account\\tradeaccount_merged.h5')
df

,instrument,order_no,trade_time,direction,order_price,lots,turnover,open_close,fee,realized_pl,real_trade_date
0,M1705,10545298,10:05:32,0,2909.0,1,29090.0,0,1.65,0.0,2016-12-05
1,M1705,10548973,10:05:59,1,2912.0,1,29120.0,1,1.65,30.0,2016-12-05
2,RM705,01513316,10:31:32,0,2441.0,5,122050.0,0,16.50,0.0,2016-12-05
3,M1705,10612069,10:42:27,0,2912.0,1,29120.0,0,1.65,0.0,2016-12-05
4,M1705,10612494,10:42:45,0,2913.0,1,29130.0,0,1.65,0.0,2016-12-05
5,M1705,10613334,10:43:10,0,2912.0,1,29120.0,0,1.65,0.0,2016-12-05
6,M1705,10659448,10:59:45,1,2914.0,2,58280.0,1,3.30,30.0,2016-12-05
7,M1705,10659449,10:59:45,1,2914.0,1,29140.0,1,1.65,20.0,2016-12-05
8,RM705,01630287,11:01:03,1,2449.0,2,48980.0,1,13.20,160.0,2016-12-05
9,RM705,01630519,11:01:05,1,2449.0,1,24490.0,1,6.60,80.0,2016-12-05
10,RM705,01630521,11:01:05,1,2449.0,1,24490.0,1,6.60,80.0,2016-12-05
11,RM705,01639663,11:03:24,1,2446.0,1,24460.0,1,6.60,50.0,2016-12-05
12,RM705,01673866,11:10:48,0,2441.0,1,24410.0,0,3.30,0.0,2016-12-05
13,P1705,10706475,11:22:25,0,6332.0,1,63320.0,0,2.75,0.0,2016-12-05
14,RM705,01718548,11:27:20,0,2448.0,1,24480.0,0,3.30,0.0,2016-12-05
15,P1705,10717070,13:30:03,0,6348.0,1,63480.0,0,2.75,0.0,2016-12-05
16,P1705,10717084,13:30:03,0,6348.0,1,63480.0,0,2.75,0.0,2016-12-05
17,P1705,10719102,13:30:24,0,6346.0,1,63460.0,0,2.75,0.0,2016-12-05
18,P1705,10719103,13:30:24,0,6346.0,1,63460.0,0,2.75,0.0,2016-12-05
19,TA705,01754694,13:31:36,0,5280.0,1,26400.0,0,3.30,0.0,2016-12-05
20,TA705,01754696,13:31:36,0,5280.0,1,26400.0,0,3.30,0.0,2016-12-05
21,TA705,01754698,13:31:36,0,5280.0,1,26400.0,0,3.30,0.0,2016-12-05
22,TA705,01759740,13:32:09,0,5280.0,3,79200.0,0,9.90,0.0,2016-12-05
23,RM705,01802209,13:39:02,0,2450.0,1,24500.0,0,3.30,0.0,2016-12-05
24,Y1705,10777410,13:48:00,0,7192.0,2,143840.0,0,5.50,0.0,2016-12-05
25,TA705,01869120,13:48:16,1,5268.0,1,26340.0,1,0.00,-60.0,2016-12-05
26,TA705,01871372,13:48:26,1,5272.0,1,26360.0,1,0.00,-40.0,2016-12-05
27,TA705,01871373,13:48:26,1,5272.0,1,26360.0,1,0.00,-40.0,2016-12-05
28,Y1705,10783183,13:50:26,1,7178.0,2,143560.0,1,5.50,-280.0,2016-12-05
29,RM705,01883174,13:50:45,1,2447.0,1,24470.0,1,6.60,60.0,2016-12-05
...,...,...,...,...,...,...,...,...,...,...,...
49308,M1801,10216700,10:45:26,0,2779.0,1,27790.0,0,1.53,0.0,2017-10-09
49309,M1801,10216964,10:45:42,0,2779.0,1,27790.0,0,1.53,0.0,2017-10-09
49310,RM801,00687851,10:49:46,0,2211.0,2,44220.0,0,3.06,0.0,2017-10-09
49311,RM801,00688894,10:50:03,0,2210.0,1,22100.0,0,1.53,0.0,2017-10-09
49312,MA801,00760163,11:12:35,1,2704.0,3,81120.0,0,6.12,0.0,2017-10-09
49313,JD1801,10249519,11:19:37,1,4160.0,1,41600.0,1,6.36,-10.0,2017-10-09
49314,MA801,00829122,13:31:01,1,2698.0,1,26980.0,0,2.04,0.0,2017-10-09
49315,RM801,00851014,13:35:16,1,2208.0,1,22080.0,1,3.06,-40.0,2017-10-09
49316,RM801,00851016,13:35:16,1,2208.0,1,22080.0,1,3.06,-70.0,2017-10-09
49317,RM801,00874733,13:38:34,0,2209.0,2,44180.0,0,3.06,0.0,2017-10-09
49318,RM801,00902947,13:42:37,0,2210.0,2,44200.0,0,3.06,0.0,2017-10-09
49319,M1801,10270261,13:45:44,0,2780.0,3,83400.0,0,4.59,0.0,2017-10-09
49320,MA801,00915851,13:46:21,0,2702.0,2,54040.0,1,12.24,40.0,2017-10-09
49321,MA801,00921502,13:48:08,0,2704.0,1,27040.0,1,6.12,0.0,2017-10-09
49322,MA801,00926299,13:49:13,0,2707.0,1,27070.0,1,6.12,-90.0,2017-10-09
49323,JD1801,10279484,13:58:04,0,4174.0,2,83480.0,0,12.77,0.0,2017-10-09
49324,JD1801,10283058,14:02:26,0,4187.0,1,41870.0,0,6.41,0.0,2017-10-09
49325,JD1801,10285640,14:04:00,0,4192.0,1,41920.0,0,6.41,0.0,2017-10-09
49326,MA801,01028175,14:14:42,1,2700.0,3,81000.0,0,6.12,0.0,2017-10-09
49327,RM801,01033495,14:16:16,0,2211.0,1,22110.0,0,1.53,0.0,2017-10-09
49328,MA801,01038083,14:17:36,0,2704.0,1,27040.0,1,6.12,-40.0,2017-10-09
49329,MA801,01038984,14:17:50,0,2703.0,1,27030.0,1,6.12,-30.0,2017-10-09
49330,MA801,01039350,14:17:56,0,2702.0,1,27020.0,1,6.12,-20.0,2017-10-09
49331,JD1801,10296207,14:20:00,0,4190.0,1,41900.0,0,6.41,0.0,2017-10-09
49332,TA801,01087862,14:33:09,0,5118.0,1,25590.0,1,0.00,270.0,2017-10-09
49333,TA801,01087863,14:33:09,0,5118.0,1,25590.0,1,0.00,290.0,2017-10-09
49334,RM801,01205970,14:59:21,1,2212.0,1,22120.0,1,3.06,-30.0,2017-10-09
49335,RM801,01205971,14:59:21,1,2212.0,1,22120.0,1,3.06,-50.0,2017-10-09
49336,RM801,01205972,14:59:21,1,2212.0,1,22120.0,1,3.06,-100.0,2017-10-09
49337,M1801,10334675,14:59:50,1,2782.0,3,83460.0,1,4.59,60.0,2017-10-09

In [36]:
df.fee.sum()

357686.37000002095

In [37]:
df.realized_pl.sum()

523395.0

In [25]:
df1 = df[df.open_close == 1 ]

In [26]:
df1

,instrument,order_no,trade_time,direction,order_price,lots,turnover,open_close,fee,realized_pl,real_trade_date
1,M1705,10548973,10:05:59,1,2912.0,1,29120.0,1,1.65,30.0,2016-12-05
6,M1705,10659448,10:59:45,1,2914.0,2,58280.0,1,3.30,30.0,2016-12-05
7,M1705,10659449,10:59:45,1,2914.0,1,29140.0,1,1.65,20.0,2016-12-05
8,RM705,01630287,11:01:03,1,2449.0,2,48980.0,1,13.20,160.0,2016-12-05
9,RM705,01630519,11:01:05,1,2449.0,1,24490.0,1,6.60,80.0,2016-12-05
10,RM705,01630521,11:01:05,1,2449.0,1,24490.0,1,6.60,80.0,2016-12-05
11,RM705,01639663,11:03:24,1,2446.0,1,24460.0,1,6.60,50.0,2016-12-05
25,TA705,01869120,13:48:16,1,5268.0,1,26340.0,1,0.00,-60.0,2016-12-05
26,TA705,01871372,13:48:26,1,5272.0,1,26360.0,1,0.00,-40.0,2016-12-05
27,TA705,01871373,13:48:26,1,5272.0,1,26360.0,1,0.00,-40.0,2016-12-05
28,Y1705,10783183,13:50:26,1,7178.0,2,143560.0,1,5.50,-280.0,2016-12-05
29,RM705,01883174,13:50:45,1,2447.0,1,24470.0,1,6.60,60.0,2016-12-05
30,RM705,01883175,13:50:45,1,2447.0,1,24470.0,1,6.60,-10.0,2016-12-05
31,RM705,01883742,13:50:48,1,2445.0,1,24450.0,1,6.60,-50.0,2016-12-05
33,TA705,01900561,13:54:20,1,5264.0,3,78960.0,1,0.00,-240.0,2016-12-05
34,P1705,10794368,13:54:28,1,6330.0,2,126600.0,1,5.50,-200.0,2016-12-05
35,P1705,10794420,13:54:28,1,6330.0,2,126600.0,1,5.50,-340.0,2016-12-05
40,RM705,01980780,14:10:58,1,2446.0,2,48920.0,1,13.20,-80.0,2016-12-05
42,P1705,10864916,14:12:32,1,6358.0,2,127160.0,1,5.50,260.0,2016-12-05
43,CF705,01987493,14:12:51,0,15855.0,1,79275.0,1,6.60,-100.0,2016-12-05
44,P1705,10868540,14:13:30,1,6354.0,3,190620.0,1,8.25,300.0,2016-12-05
49,RM705,02010803,14:17:48,0,2449.0,1,24490.0,1,6.60,-20.0,2016-12-05
50,RM705,02010805,14:17:48,0,2449.0,1,24490.0,1,6.60,-40.0,2016-12-05
51,RM705,02010807,14:17:48,0,2449.0,1,24490.0,1,6.60,-40.0,2016-12-05
52,RM705,02020407,14:21:09,0,2450.0,1,24500.0,1,6.60,-40.0,2016-12-05
53,RM705,02020411,14:21:09,0,2450.0,1,24500.0,1,6.60,-40.0,2016-12-05
55,M1705,10909331,14:28:51,1,2913.0,1,29130.0,1,1.65,-30.0,2016-12-05
60,CS1705,10922581,14:35:38,0,1929.0,2,38580.0,1,3.30,-20.0,2016-12-05
65,M1705,10941143,14:45:18,0,2919.0,2,58380.0,1,3.30,-110.0,2016-12-05
67,M1705,10987192,14:59:29,0,2914.0,1,29140.0,1,1.65,20.0,2016-12-05
...,...,...,...,...,...,...,...,...,...,...,...
49243,SR801,01243242,11:13:56,0,6134.0,1,61340.0,1,3.06,-350.0,2017-09-29
49244,TA801,01558965,14:23:54,0,5156.0,1,25780.0,1,0.00,570.0,2017-09-29
49245,TA801,01558966,14:23:54,0,5156.0,1,25780.0,1,0.00,580.0,2017-09-29
49246,TA801,01560575,14:24:06,0,5156.0,1,25780.0,1,0.00,410.0,2017-09-29
49247,TA801,01560576,14:24:06,0,5156.0,1,25780.0,1,0.00,10.0,2017-09-29
49248,TA801,01571498,14:25:04,0,5154.0,2,51540.0,1,6.12,140.0,2017-09-29
49256,SR801,00138726,21:09:26,0,6108.0,1,61080.0,1,3.06,110.0,2017-09-29
49262,TA801,00791836,23:14:47,0,5190.0,1,25950.0,1,0.00,490.0,2017-09-29
49263,TA801,00791837,23:14:47,0,5190.0,1,25950.0,1,0.00,380.0,2017-09-29
49270,C1801,10000085,08:59:00,0,1680.0,6,100800.0,1,7.32,730.0,2017-10-09
49271,CS1801,10000495,08:59:00,0,1965.0,5,98250.0,1,7.65,1410.0,2017-10-09
49302,RM801,00607841,10:31:38,1,2212.0,1,22120.0,1,3.06,0.0,2017-10-09
49303,RM801,00617917,10:33:55,1,2208.0,1,22080.0,1,3.06,-40.0,2017-10-09
49304,RM801,00617918,10:33:55,1,2208.0,1,22080.0,1,3.06,-40.0,2017-10-09
49305,RM801,00617919,10:33:55,1,2208.0,1,22080.0,1,3.06,-40.0,2017-10-09
49313,JD1801,10249519,11:19:37,1,4160.0,1,41600.0,1,6.36,-10.0,2017-10-09
49315,RM801,00851014,13:35:16,1,2208.0,1,22080.0,1,3.06,-40.0,2017-10-09
49316,RM801,00851016,13:35:16,1,2208.0,1,22080.0,1,3.06,-70.0,2017-10-09
49320,MA801,00915851,13:46:21,0,2702.0,2,54040.0,1,12.24,40.0,2017-10-09
49321,MA801,00921502,13:48:08,0,2704.0,1,27040.0,1,6.12,0.0,2017-10-09
49322,MA801,00926299,13:49:13,0,2707.0,1,27070.0,1,6.12,-90.0,2017-10-09
49328,MA801,01038083,14:17:36,0,2704.0,1,27040.0,1,6.12,-40.0,2017-10-09
49329,MA801,01038984,14:17:50,0,2703.0,1,27030.0,1,6.12,-30.0,2017-10-09
49330,MA801,01039350,14:17:56,0,2702.0,1,27020.0,1,6.12,-20.0,2017-10-09
49332,TA801,01087862,14:33:09,0,5118.0,1,25590.0,1,0.00,270.0,2017-10-09
49333,TA801,01087863,14:33:09,0,5118.0,1,25590.0,1,0.00,290.0,2017-10-09
49334,RM801,01205970,14:59:21,1,2212.0,1,22120.0,1,3.06,-30.0,2017-10-09
49335,RM801,01205971,14:59:21,1,2212.0,1,22120.0,1,3.06,-50.0,2017-10-09
49336,RM801,01205972,14:59:21,1,2212.0,1,22120.0,1,3.06,-100.0,2017-10-09
49337,M1801,10334675,14:59:50,1,2782.0,3,83460.0,1,4.59,60.0,2017-10-09

In [27]:
df1.realized_pl.sum()-df.fee.sum()

165708.62999997905

sr1 = df1.groupby(df1.instrument).realized_pl.sum()

In [33]:
sr2 = df.groupby(df.instrument).fee.sum()

In [32]:
sr1

instrument
A1705     -7536.00
A1709     -5408.88
A1801     -3606.72
AL1705      748.60
AL1710     -325.00
BU1705     -329.72
BU1706   -10855.12
BU1709    -5641.40
BU1712    -2181.82
BU1801      793.42
C1705      1490.40
C1709     17498.78
C1801     -3817.64
CF705    -19305.40
CF709       805.40
CF801      4987.48
CS1705    53864.40
CS1709    37403.58
CS1801    -3343.44
CU1702   -15479.78
CU1703     2023.52
CU1704    -2335.52
CU1705    -7580.04
CU1706      400.00
CU1707    -1399.54
CU1708      469.84
CU1709      600.00
CU1710    -1626.80
CU1711     -700.00
FG705    -29347.80
            ...
RM705    -16275.40
RM709    -10688.92
RM801     -1136.82
RU1705   -10534.44
RU1709    11553.96
RU1801     2741.84
SM709    -36845.32
SM801     -7378.56
SR705       472.00
SR709     -4657.20
SR801      -601.20
TA705     49210.80
TA709     -6320.80
TA801     12233.36
V1709      3718.12
V1801     18566.88
Y1705      9519.50
Y1709     -1426.00
Y1801      3209.10
ZC705       367.00
ZN1702     3709.60
ZN1703    -2038.20
ZN1704      430.20
ZN1705     1343.40
ZN1706    -5225.00
ZN1707       68.40
ZN1708     1392.00
ZN1709       85.96
ZN1710     8500.52
ZN1712    -2100.00
Name: abs_pl, Length: 96, dtype: float64

In [34]:
sr2

instrument
A1705      4026.00
A1709      3808.88
A1801      1036.72
AL1705      115.50
AL1710        6.12
BU1705       29.76
BU1706     6851.84
BU1709     3321.09
BU1712     1002.51
BU1801       26.67
C1705      1227.60
C1709      5009.94
C1801       927.88
CF705      4580.40
CF709      2019.60
CF801       763.86
CS1705    13965.60
CS1709     9276.42
CS1801     2047.92
CU1702     2873.12
CU1703      331.04
CU1704      809.64
CU1705      572.86
CU1706       50.89
CU1707      274.30
CU1708      560.50
CU1709       90.23
CU1710       66.77
CU1711       64.57
FG705     27277.80
            ...
RM705     38273.40
RM709     16654.92
RM801      1769.07
RU1705     9981.97
RU1709     2555.13
RU1801      808.07
SM709      3947.94
SM801       422.28
SR705      1782.00
SR709       990.00
SR801        85.68
TA705     11332.20
TA709      3554.88
TA801      2542.86
V1709       124.28
V1801       108.12
Y1705      4900.50
Y1709       506.00
Y1801      1790.90
ZC705        23.10
ZN1702      217.80
ZN1703       89.10
ZN1704      108.90
ZN1705      141.90
ZN1706       72.60
ZN1707       46.20
ZN1708       69.30
ZN1709      215.52
ZN1710       64.26
ZN1712       15.30
Name: fee, Length: 96, dtype: float64

In [35]:
sr1.sum() - sr2.sum()

-257229.82999999938

In [31]:
sr3 = sr1 -sr2
sr3

instrument
A1705    -11562.00
A1709     -9217.76
A1801     -4643.44
AL1705      633.10
AL1710     -331.12
BU1705     -359.48
BU1706   -17706.96
BU1709    -8962.49
BU1712    -3184.33
BU1801      766.75
C1705       262.80
C1709     12488.84
C1801     -4745.52
CF705    -23885.80
CF709     -1214.20
CF801      4223.62
CS1705    39898.80
CS1709    28127.16
CS1801    -5391.36
CU1702   -18352.90
CU1703     1692.48
CU1704    -3145.16
CU1705    -8152.90
CU1706      349.11
CU1707    -1673.84
CU1708      -90.66
CU1709      509.77
CU1710    -1693.57
CU1711     -764.57
FG705    -56625.60
            ...
RM705    -54548.80
RM709    -27343.84
RM801     -2905.89
RU1705   -20516.41
RU1709     8998.83
RU1801     1933.77
SM709    -40793.26
SM801     -7800.84
SR705     -1310.00
SR709     -5647.20
SR801      -686.88
TA705     37878.60
TA709     -9875.68
TA801      9690.50
V1709      3593.84
V1801     18458.76
Y1705      4619.00
Y1709     -1932.00
Y1801      1418.20
ZC705       343.90
ZN1702     3491.80
ZN1703    -2127.30
ZN1704      321.30
ZN1705     1201.50
ZN1706    -5297.60
ZN1707       22.20
ZN1708     1322.70
ZN1709     -129.56
ZN1710     8436.26
ZN1712    -2115.30
Length: 96, dtype: float64

-257229.82999999908

In [18]:
df1[df1.instrument == 'CU1709']

,instrument,order_no,trade_time,direction,order_price,lots,turnover,open_close,fee,realized_pl,real_trade_date
40192,CU1709,01515923,13:37:18,1,46920.0,1,234600.0,1,0.0,-150.0,2017-07-10
40195,CU1709,01568699,13:41:46,1,46870.0,1,234350.0,1,0.0,-500.0,2017-07-10
40369,CU1709,01204098,10:38:30,1,46840.0,1,234200.0,1,0.0,200.0,2017-07-11
40370,CU1709,01204156,10:38:31,1,46840.0,1,234200.0,1,0.0,150.0,2017-07-11
40417,CU1709,01476107,13:39:43,1,46830.0,1,234150.0,1,0.0,-200.0,2017-07-11
40422,CU1709,01570281,13:51:46,1,46840.0,1,234200.0,1,0.0,-50.0,2017-07-11
40454,CU1709,01962895,14:53:44,1,47110.0,1,235550.0,1,0.0,1150.0,2017-07-11

In [13]:
sr1 = sr1.sort_values(ascending = False)
sr1

instrument
CS1705    67830.0
M1705     63970.0
TA705     49620.0
CS1709    46680.0
P1705     40580.0
RB1705    36090.0
RM705     34340.0
MA705     20790.0
L1705     19950.0
JD1705    18940.0
FG705     18720.0
V1801     18675.0
C1709     18620.0
L1709     16425.0
RB1710    15480.0
RU1709    15350.0
Y1705     14420.0
P1801     14300.0
RB1801    13480.0
TA801     12980.0
NI1801    12360.0
I1801     11100.0
OI801     10260.0
NI1709    10220.0
RM709      9320.0
MA801      9000.0
PP1705     8765.0
ZN1710     8525.0
PP1709     8520.0
RU1705     6050.0
           ...
CU1707    -1350.0
CU1710    -1600.0
A1709     -1600.0
I1705     -1800.0
BU1706    -1860.0
I1709     -2000.0
ZN1703    -2025.0
ZN1712    -2100.0
CU1704    -2150.0
M1801     -2310.0
BU1709    -2320.0
A1801     -2570.0
P1709     -2620.0
L1801     -2700.0
M1709     -2700.0
FG801     -2720.0
JM1801    -3000.0
C1801     -3010.0
A1705     -3510.0
SR709     -4380.0
ZN1706    -5225.0
TA709     -6070.0
SM801     -6840.0
CU1705    -7450.0
CU1702   -11650.0
JD1709   -12690.0
CF705    -14725.0
FG709    -15460.0
NI1705   -19270.0
SM709    -31810.0
Name: realized_pl, Length: 96, dtype: float64

In [24]:
sr2 = sr1[sr1>0]
sr3 = sr1[sr1<0]

In [27]:
sr2 = sr2.sort_values(ascending=False)
sr2

instrument
CS1705    53864.40
TA705     49210.80
M1705     42681.70
CS1709    37403.58
P1705     34816.00
V1801     18566.88
C1709     17498.78
L1705     17415.60
L1709     15028.76
P1801     13143.60
RB1710    12583.98
TA801     12233.36
RB1801    12126.04
NI1801    12029.52
RU1709    11553.96
I1801     10274.86
OI801     10101.90
NI1709    10035.20
Y1705      9519.50
JD1705     9002.30
ZN1710     8500.52
MA801      6278.64
PP1705     5359.26
PP1801     5131.26
CF801      4987.48
RB1705     4679.68
PP1709     4612.82
V1709      3718.12
ZN1702     3709.60
J1705      3367.26
Y1801      3209.10
JD1801     2901.52
RU1801     2741.84
CU1703     2023.52
JM1705     1989.00
C1705      1490.40
ZN1708     1392.00
ZN1705     1343.40
CF709       805.40
BU1801      793.42
AL1705      748.60
CU1709      600.00
SR705       472.00
CU1708      469.84
ZN1704      430.20
CU1706      400.00
ZC705       367.00
ZN1709       85.96
ZN1707       68.40
Name: abs_pl, dtype: float64

In [29]:
sr3 = sr3.sort_values(ascending=True)
sr3

instrument
SM709    -36845.32
MA705    -32221.20
FG705    -29347.80
FG709    -26448.88
NI1705   -22609.60
MA709    -20412.96
CF705    -19305.40
RM705    -16275.40
CU1702   -15479.78
JD1709   -15156.22
BU1706   -10855.12
RM709    -10688.92
RU1705   -10534.44
M1709    -10227.18
CU1705    -7580.04
A1705     -7536.00
SM801     -7378.56
TA709     -6320.80
BU1709    -5641.40
A1709     -5408.88
ZN1706    -5225.00
SR709     -4657.20
M1801     -4538.40
FG801     -4445.84
P1709     -3936.80
C1801     -3817.64
A1801     -3606.72
JM1801    -3592.40
I1705     -3537.28
CS1801    -3343.44
I1709     -2938.00
L1801     -2932.56
CU1704    -2335.52
BU1712    -2181.82
ZN1712    -2100.00
ZN1703    -2038.20
CU1710    -1626.80
Y1709     -1426.00
CU1707    -1399.54
JM1709    -1191.38
RM801     -1136.82
CU1711     -700.00
JD1708     -686.00
SR801      -601.20
J1709      -387.24
BU1705     -329.72
AL1710     -325.00
Name: abs_pl, dtype: float64

In [30]:
sr2.to_excel('yindex.xlsx',sheet_name='sheet1')
sr3.to_excel('kindex.xlsx',sheet_name='sheet1')

In [31]:
df2 = pd.read_excel('C:\\Users\\Administrator\\Desktop\\Work\\data\\trade_account\\instrument\\1.xlsx')
df3 = pd.read_excel('C:\\Users\\Administrator\\Desktop\\Work\\data\\trade_account\\instrument\\2.xlsx')

In [32]:
df2

      abs_pl
CS  53864.40
TA  49210.80
M   42681.70
CS  37403.58
P   34816.00
V   18566.88
C   17498.78
L   17415.60
L   15028.76
P   13143.60
RB  12583.98
TA  12233.36
RB  12126.04
NI  12029.52
RU  11553.96
I   10274.86
OI  10101.90
NI  10035.20
Y    9519.50
JD   9002.30
ZN   8500.52
MA   6278.64
PP   5359.26
PP   5131.26
CF   4987.48
RB   4679.68
PP   4612.82
V    3718.12
ZN   3709.60
J    3367.26
Y    3209.10
JD   2901.52
RU   2741.84
CU   2023.52
JM   1989.00
C    1490.40
ZN   1392.00
ZN   1343.40
CF    805.40
BU    793.42
AL    748.60
CU    600.00
SR    472.00
CU    469.84
ZN    430.20
CU    400.00
ZC    367.00
ZN     85.96
ZN     68.40

In [33]:
df3

      abs_pl
SM -36845.32
MA -32221.20
FG -29347.80
FG -26448.88
NI -22609.60
MA -20412.96
CF -19305.40
RM -16275.40
CU -15479.78
JD -15156.22
BU -10855.12
RM -10688.92
RU -10534.44
M  -10227.18
CU  -7580.04
A   -7536.00
SM  -7378.56
TA  -6320.80
BU  -5641.40
A   -5408.88
ZN  -5225.00
SR  -4657.20
M   -4538.40
FG  -4445.84
P   -3936.80
C   -3817.64
A   -3606.72
JM  -3592.40
I   -3537.28
CS  -3343.44
I   -2938.00
L   -2932.56
CU  -2335.52
BU  -2181.82
ZN  -2100.00
ZN  -2038.20
CU  -1626.80
Y   -1426.00
CU  -1399.54
JM  -1191.38
RM  -1136.82
CU   -700.00
JD   -686.00
SR   -601.20
J    -387.24
BU   -329.72
AL   -325.00

In [38]:
sr4 = df2.groupby(df2.index).abs_pl.sum()

In [39]:
sr4

AL      748.60
BU      793.42
C     18989.18
CF     5792.88
CS    91267.98
CU     3493.36
I     10274.86
J      3367.26
JD    11903.82
JM     1989.00
L     32444.36
M     42681.70
MA     6278.64
NI    22064.72
OI    10101.90
P     47959.60
PP    15103.34
RB    29389.70
RU    14295.80
SR      472.00
TA    61444.16
V     22285.00
Y     12728.60
ZC      367.00
ZN    15530.08
Name: abs_pl, dtype: float64

In [40]:
sr4.sum()

481766.95999999926

In [42]:
sr5 = df3.groupby(df3.index).abs_pl.sum()

In [43]:
sr5

A    -16551.60
AL     -325.00
BU   -19008.06
C     -3817.64
CF   -19305.40
CS    -3343.44
CU   -29121.68
FG   -60242.52
I     -6475.28
J      -387.24
JD   -15842.22
JM    -4783.78
L     -2932.56
M    -14765.58
MA   -52634.16
NI   -22609.60
P     -3936.80
RM   -28101.14
RU   -10534.44
SM   -44223.88
SR    -5258.40
TA    -6320.80
Y     -1426.00
ZN    -9363.20
Name: abs_pl, dtype: float64

In [44]:
sr5.sum()

-381310.42000000074

In [45]:
481766.96-381310.42

100456.54000000004